.box{width:100%;min-width:1332px;margin:0 auto;}
.header{width:100%;min-width:1332px;height:37px;background:#2b2b2b;border-top:#00925f solid 3px;}
.header .header-left{width:247px;height:37px;float:left;overflow:hidden;}
.header .img1{width:20px;height: 18px;padding-left:77px;padding-top:10px;float:left;}
.header .img2{width:15px;height: 21px;padding-top:10px;padding-left:15px;float:left;}
.header p{color:#00925f;font-size: 11px;float:right;padding-top:13px;font-weight: bold;padding-left:19px;}
.header .header-right{float:right;width:450px;height: 37px;}
.header ul.clearfix{width:450px;height: 37px;background:url(../img/img5.png) no-repeat 400px 6px;}
.header ul.clearfix li{float:left;width:54px;margin-top:10px;border-right:1px solid #474747;text-align:center;position:relative;}
.header ul.clearfix li a{color:#b2b2b2;font-size: 12px;}
.header ul.clearfix li.li3{width:78px;position:relative;}

.header ul.clearfix .li3 .box3{width:100px;height:100px;position:absolute;left:0px;top:15px;background:yellow;display:none;}
.header ul.clearfix li.li4{width:78px;position:relative;}

.header ul.clearfix .li4 .box4{width:100px;height:100px;position:absolute;left:0px;top:15px;background:blue;display:none;}
.header ul.clearfix li.li5{width:120px;border-right:none;background:url(../img/img3.png) no-repeat 15px 0;position:relative;}
.header ul.clearfix .li5 .box5{width:100px;height:100px;position:absolute;left:0px;top:15px;background:pink;display:none;}
.header ul.clearfix .li1{position:relative;}
.header ul.clearfix .li1 .box1{width:100px;height:100px;position:absolute;left:0px;top:15px;background:green;display:none;}
.header ul.clearfix .li2{position:relative;}
.header ul.clearfix .li2 .box2{width:100px;height:100px;position:absolute;left:0px;top:15px;background:red;display:none;}
.nav{width:100%;min-width:1332px;height:85px;border-bottom:3px solid #ddd;}
.nav .nav-left{background:url(../img/logo.png) no-repeat 0px 0px;width:168px;height:27px;float:left;margin-left:76px;margin-top:32px;}
.nav .nav-right{float:right;}
.nav .nav-right ul.n.clearfix{}
.nav .nav-right ul li{float:left;padding-right:40px;padding-top:38px;font-size:14px;}
.nav .nav-right ul li a{color:#2b2b2b;font-weight:bold;}
.nav .nav-right ul li.frame1{position:relative;}
.nav .nav-right ul li.frame1 .frame1{width:100px;height:100px;background:red;position:absolute;left:0;top:55px;display: none;}
.nav .nav-right ul li.frame2{position:relative;}
.nav .nav-right ul li.frame2 .frame2{width:100px;height:100px;background:red;position:absolute;left:0;top:55px;display: none;}
.nav .nav-right ul li.frame3{position:relative;}
.nav .nav-right ul li.frame3 .frame3{width:100px;height:100px;background:red;position:absolute;left:0;top:55px;display: none;}
.nav .nav-right ul li.frame4{position:relative;}
.nav .nav-right ul li.frame4 .frame4{width:100px;height:100px;background:red;position:absolute;left:0;top:55px;display: none;}
.nav .nav-right ul li.frame5{position:relative;}
.nav .nav-right ul li.frame5 .frame5{width:100px;height:100px;background:red;position:absolute;left:0;top:55px;display: none;}
.nav .nav-right ul li.frame6{position:relative;}
.nav .nav-right ul li.frame6 .frame6{width:100px;height:100px;background:red;position:absolute;left:0;top:55px;display: none;}
.nav .nav-right ul li.frame7{position:relative;}
.nav .nav-right ul li.frame7 .frame7{width:100px;height:100px;background:red;position:absolute;left:0;top:55px;display: none;}
.nav .nav-right ul li.frame8{position:relative;}
.nav .nav-right ul li.frame8 .frame8{width:100px;height:100px;background:red;position:absolute;left:0;top:55px;display: none;}
.nav .nav-right ul li.frame9{position:relative;}
.nav .nav-right ul li.frame9 .frame9{width:100px;height:100px;background:red;position:absolute;left:0;top:55px;display: none;}
.star{ width:100%;min-width:1332px;margin:0 auto;}
.star img{width:1352px;height:684px;}


.star-phone{width:100%;min-width:1332px;height:798px;background:#f2f2f2;}
.star-phone .star-phone-top{width:1332px;height:171px;margin:0 auto;}

.star-phone .star-phone-top h2{font-size:25px;color:#2b2b2b;padding-top:55px;text-align:center;position:relative;}

.star-phone .star-phone-top i{background:url(../img/border.png) no-repeat 0 0px;width:90px;height:1px;display:block;position:absolute;left:47%;top:52px;}
.star-phone .star-phone-top b{background:url(../img/border.png) no-repeat 0 0px;width:90px;height:1px;display:block;padding-top:13px;position:absolute;left:47%;top:87px;}

.star-phone .star-phone-top h2 span{font-weight: bold;}
.star-phone .star-phone-top h4{width:228px;height:13px;font-size:13px;margin:0 auto;color:#878787;padding-top:15px; }
.star-phone .star-phone-top h4 a{color:#4ca57c;}
.star-phone .star-phone-bottom{width:1182px;height:566px;padding:0px 75px 60px 75px;}
.star-phone .star-phone-bottom ul.s.clearfix{width:1332px;height:566px}
.star-phone .star-phone-bottom ul.s.clearfix li{float:left;height:566px;border-right:1px solid #eaeaea;}
.star-phone .star-phone-bottom ul.s.clearfix li.phone1{width:290px;}
.star-phone .star-phone-bottom ul.s.clearfix li.phone2{width:299px;}
.star-phone .star-phone-bottom ul.s.clearfix li.phone3{width:299px;}
.star-phone .star-phone-bottom ul.s.clearfix li.phone4{width:289px;border-right:none;}
.star-phone .star-phone-bottom ul.s.clearfix li img{}
.star-phone .star-phone-bottom ul.s.clearfix li .div1{height:124px;width:280px;border-bottom:5px solid #dfdfdf;}
.star-phone .star-phone-bottom ul.s.clearfix li .div2{width:279px;height:124px;border-bottom:5px solid #dfdfdf;margin-left:10px;}
.star-phone .star-phone-bottom ul.s.clearfix li .div3{width:279px;height:124px;border-bottom:5px solid #dfdfdf;margin-left:10px;}
.star-phone .star-phone-bottom ul.s.clearfix li .div4{width:279px;height:124px;border-bottom:5px solid #dfdfdf;margin-left:10px;}
.star-phone .star-phone-bottom ul.s.clearfix li  h3{width:14px;color:#2b2b2b;font-weight: 
	bold;text-align:center;padding-top:28px;padding-left:127px;}
.star-phone .star-phone-bottom ul.s.clearfix li  h4{font-size:13px;color:#b4b4b4;padding-left:113px;padding-top:15px;}
.star-phone .star-phone-bottom ul.s.clearfix li .div1 h4{padding-left:79px;}
.star-phone .star-phone-bottom ul.s.clearfix li .div1 h5{padding-left:84px;background-position:189px 15px;}
.star-phone .star-phone-bottom ul.s.clearfix li  h5{font-size:11px;color:#00925f;background:url(../img/tu.png) no-repeat 198px 15px;padding-left:94px;padding-top: 15px;}




.thing{width:100%;min-width:1332px;margin:0 auto;height:1070px;background:#f6f6f6;}
.thing .thing-top{height:140px;width:1332px;margin:0 auto;text-align:center;}
.thing .thing-top .th{font-size:25px;color:#2b2b2b;display:block;padding-top:52px;position:relative;}
.thing .thing-top i{background:url(../img/border.png) no-repeat 0 0px;width:90px;height:1px;display:block;position:absolute;left:47%;top:43px;}
.thing .thing-top b{background:url(../img/border.png) no-repeat 0 0px;width:90px;height:1px;display:block;position:absolute;left:47%;top:89px;}
.thing .thing-top .th span{font-weight: bold;}


.thing-bottom{width:1332px;height:930px;margin:0 auto;padding-left:75px;overflow: hidden;}
.thing-bottom .thing-bottom-left{width:579px;height:930px;float:left;}
.thing-bottom .thing-bottom-left .tbl-t{width:579px;height:580px;overflow:hidden;margin-bottom:20px;}
.thing-bottom .thing-bottom-left .tbl-t .one{width:280px;height:575px;border-bottom:5px solid #e1e1e1 ;background:url(../img/p1.png) no-repeat 0 0;background-color:#fff;float:left;}
.thing-bottom .thing-bottom-left .tbl-t .one .text{padding-top:471px;height:104px;width:280px;}
.thing-bottom .thing-bottom-left .tbl-t .one .text a{display:block;}
.thing-bottom .thing-bottom-left .tbl-t .one .text .text1{font-size:13px;color:#848484;text-align:center;}
.thing-bottom .thing-bottom-left .tbl-t .one .text .text2{font-size:21px;color:#585858;padding:11px 11px 15px 11px;font-weight:bold;}
.thing-bottom .thing-bottom-left .tbl-t .one .text .text3{font-size:11px;color:#24976e;padding-left:113px;font-weight:bold;}
.thing-bottom .thing-bottom-left .tbl-t .two{float:right;}
.thing-bottom .thing-bottom-left .tbl-t .two .two-t{margin-bottom:20px;}
.thing-bottom .thing-bottom-left .tbl-t .two .two-t .two-t-lie{width:210px;height:270px;border:5px solid #eaeaea;background:#fff;padding-left:30px;padding-right:30px;}
.thing-bottom-left .tbl-t .two .two-t .two-t-lie h3{height: 58px;line-height: 58px;font-size:12px;color:#576267;text-align: center;font-weight: bold;}
.thing-bottom-left .tbl-t .two .two-t .two-t-lie .biao{width:177px;height:86px;border:1px solid #e6e6e6;border-left:none;border-right:none;padding:27px 22px 37px 11px;overflow:hidden;}
.thing-bottom-left .tbl-t .two .two-t .two-t-lie .biao ul.l{width:60px;height:86px;float:left;} 
.thing-bottom-left .tbl-t .two .two-t .two-t-lie .biao ul.l li{width:60px;height:18px;}
.thing-bottom-left .tbl-t .two .two-t .two-t-lie .biao ul.l a{font-size:12px;color:#b2b2b2;padding-left:24px;display:block;line-height:18px;}
.thing-bottom-left .tbl-t .two .two-t .two-t-lie .biao ul.l li.one1{background:url(../img/erji.png) no-repeat 0 0;margin-bottom:18px;}
.thing-bottom-left .tbl-t .two .two-t .two-t-lie .biao ul.l li.two2{background:url(../img/baohu.png) no-repeat 0 0;margin-bottom:15px;}
.thing-bottom-left .tbl-t .two .two-t .two-t-lie .biao ul.l li.three3{background:url(../img/pitao.png) no-repeat 0 0;}
.thing-bottom-left .tbl-t .two .two-t .two-t-lie .biao ul.r{width:69px;height:18px;float:right;}
.thing-bottom-left .tbl-t .two .two-t .two-t-lie .biao ul.r li{width:69px;height:18px;}
.thing-bottom-left .tbl-t .two .two-t .two-t-lie .biao ul.r a{font-size:12px;color:#b2b2b2;padding-left:21px;display:block;line-height:18px;}
.thing-bottom-left .tbl-t .two .two-t .two-t-lie .biao ul.r li.one11{background:url(../img/dianchi.png) no-repeat 0 0;margin-bottom:18px;}
.thing-bottom-left .tbl-t .two .two-t .two-t-lie .biao ul.r li.two22{background:url(../img/tiemo.png) no-repeat 0 0;margin-bottom:15px;}
.thing-bottom-left .tbl-t .two .two-t .two-t-lie .biao ul.r li.three33{background:url(../img/shujuxian.png) no-repeat 0 0;}
.thing-bottom-left .tbl-t .two .two-t .two-t-lie a.shop{height:60px;width:210px;line-height:60px;display:block;color:#00925f;background:url(../img/h.png) no-repeat 125px;padding-left:72px;font-size:12px;font-weight:bold; }

 .thing-bottom .thing-bottom-left .tbl-t .two .two-b{width:280px;height: 270px;border-bottom:5px solid #e1e1e1;background:#fefefe;background:url(../img/p2.png) no-repeat;}
.thing-bottom .thing-bottom-left .tbl-t .two .two-b .text2{padding-top:200px;display:block;font-size:17px;color:#5a5a5a;font-weight:bold;padding-left:47px;}
.thing-bottom .thing-bottom-left .tbl-t .two .two-b .text3{padding-top:12px;font-size:12px;color:#00925c;padding-left:112px;font-weight:bold;}

.thing-bottom .thing-bottom-left .tbl-b{width:580px;height:270px;display:block;background:url(../img/xian.png);border-bottom:5px solid #e1e1e1;}
.thing-bottom .thing-bottom-left .tbl-b h3{font-size:13px;color:#848484;padding:97px 74px 0 392px }
.thing-bottom .thing-bottom-left .tbl-b h2{font-size:20px;color:#585858;font-weight:bold;padding:7px 25px 14px 345px}
.thing-bottom .thing-bottom-left .tbl-b h4{font-size:11px;color:#24976e;font-weight:bold;padding-left:427px;}










.thing-bottom .thing-bottom-right{width:580px;height:930px;float:left;margin-left:20px;}
.thing-bottom .thing-bottom-right .tbl-b{width:580px;height:275px;display:block;background:url(../img/dashou.png);border-bottom:5px solid #e1e1e1;margin-bottom:20px;}
.thing-bottom .thing-bottom-right .tbl-b h3{font-size:16px;color:#6b6b6b;padding:110px 136px 20px 326px }
.thing-bottom .thing-bottom-right .tbl-b h2{font-size:25px;color:#6b6b6b;font-weight:bold;padding-left: 232px}




.thing-bottom .thing-bottom-right .tbl-t{width:580px;height:580px;overflow:hidden;margin-bottom:20px;}
.thing-bottom .thing-bottom-right .tbl-t .one{width:280px;height:575px;border-bottom:5px solid #e1e1e1 ;background:url(../img/daerji.png) no-repeat 0 0;background-color:#fff;float:left;}
.thing-bottom .thing-bottom-right .tbl-t .one .text{padding-top:472px;height:104px;width:280px;}
.thing-bottom .thing-bottom-right .tbl-t .one .text a{display:block;}
.thing-bottom .thing-bottom-right .tbl-t .one .text .text1{font-size:13px;color:#848484;text-align:center;}
.thing-bottom .thing-bottom-right .tbl-t .one .text .text2{font-size:21px;color:#585858;padding:9px 75px 14px 75px;font-weight:bold;}
.thing-bottom .thing-bottom-right .tbl-t .one .text .text3{font-size:11px;color:#24976e;padding-left:113px;font-weight:bold;}


.thing-bottom .thing-bottom-right .tbl-t .two{float:right;}
.thing-bottom .thing-bottom-right .tbl-t .two .two-t{margin-bottom:20px;}


 .thing-bottom .thing-bottom-right .tbl-t .two .two-t{width:280px;height: 275px;border-bottom:5px solid #e1e1e1;background:#fefefe;background:url(../img/duoerji.png) no-repeat;}
.thing-bottom .thing-bottom-right .tbl-t .two .two-t .text2{padding-top:200px;display:block;font-size:17px;color:#5a5a5a;font-weight:bold;padding-left:28px;}
.thing-bottom .thing-bottom-right .tbl-t .two .two-t .text3{padding-top:12px;font-size:12px;color:#00925c;padding-left:116px;font-weight:bold;}


 .thing-bottom .thing-bottom-right .tbl-t .two .two-b{width:280px;height: 275px;border-bottom:5px solid #e1e1e1;background:#fefefe;background:url(../img/yinxiang.png) no-repeat;}
.thing-bottom .thing-bottom-right .tbl-t .two .two-b .text2{padding-top:200px;display:block;font-size:17px;color:#5a5a5a;font-weight:bold;padding-left:60px;}
.thing-bottom .thing-bottom-right .tbl-t .two .two-b .text3{padding-top:12px;font-size:12px;color:#00925c;padding-left:112px;font-weight:bold;}





.bag{width:100%;min-width:1332px;margin:0 auto;height:747px;background:#eaeaea;border-top:3px solid #d9d9d9;}
.bag .bag-top{height:130px;width:1332px;margin:0 auto;text-align:center;}
.bag .bag-top .th{font-size:25px;color:#2b2b2b;display:block;padding-top:52px;position:relative;}
.bag .bag-top i{background:url(../img/border.png) no-repeat 0 0px;width:90px;height:1px;display:block;position:absolute;left:46%;top:43px;}
.bag .bag-top b{background:url(../img/border.png) no-repeat 0 0px;width:90px;height:1px;display:block;position:absolute;left:46%;top:89px;}
.bag .bag-top .th span{font-weight: bold;}

.bag .bag-bottom{width:100%;min-width:1180px; height:620px;padding-left:76px;padding-right:76px;margin:0 auto;overflow:hidden;}
.bag .bag-bottom ul.b.clearfix{width:800px;height:560px;float:left;}
.bag .bag-bottom ul.b.clearfix li{width:380px;height:270px;float:left;margin-right:20px;}
.bag .bag-bottom ul.b.clearfix li a{display:block;width:380px;height:270px;position: relative;} 
.bag .bag-bottom ul.b.clearfix li a h3{font-size:21px;font-weight:bold;color:#2c2c2c;}
.bag .bag-bottom ul.b.clearfix li a h4{font-size:17px;color:#868686;}
.bag .bag-bottom ul.b.clearfix li.li-a{margin-bottom:20px;}
.bag .bag-bottom ul.b.clearfix li a.bli1{position:relative;}
.bag .bag-bottom ul.b.clearfix li a.bli1 h3{position: absolute;left:130px;top:36px;}
.bag .bag-bottom ul.b.clearfix li a.bli1 h4{position:absolute;left:117px;top:70px;}
.bag .bag-bottom ul.b.clearfix li.li-b{margin-bottom:20px;}
.bag .bag-bottom ul.b.clearfix li a.bli2{position:relative;}
.bag .bag-bottom ul.b.clearfix li a.bli2 h3{position: absolute;left:143px;top:36px;}
.bag .bag-bottom ul.b.clearfix li a.bli2 h4{position:absolute;left:88px;top:72px;}

.bag .bag-bottom ul.b.clearfix li a.bli3{position:relative;}
.bag .bag-bottom ul.b.clearfix li a.bli3 h3{position: absolute;left:140px;top:35px;}
.bag .bag-bottom ul.b.clearfix li a.bli3 h4{position:absolute;left:134px;top:72px;}
.bag .bag-bottom ul.b.clearfix li a.bli4{position:relative;}
.bag .bag-bottom ul.b.clearfix li a.bli4 h3{position: absolute;left:141px;top:38px;}
.bag .bag-bottom ul.b.clearfix li a.bli4 h4{position:absolute;left:76px;top:72px;}


.bag .bag-bottom .new{width:380px;height:560px;float:left;background: #fff;}
.bag .bag-bottom .new .little{width:380px;height:50px;}
.bag .bag-bottom .new .little a{width:190px;height:50px;line-height: 50px;float:left;font-size:18px;color:#a7a7a7;background:#dadada;text-align:center;font-weight:blod;}
.bag .bag-bottom .new .little a:hover{background:#fff;border-top:2px solid #00925f;}

.bag .bag-bottom .new ul.mes{width:320px;height:420px;padding:45px 30px 45px 30px;}
.bag .bag-bottom .new ul.mes li{width:320px;height:90px;margin-bottom:15px;overflow: hidden;}
.bag .bag-bottom .new ul.mes li img{width:100px;height: 90px;float:left;}
.bag .bag-bottom .new ul.mes li div{width:220px;height:90px;background:#f6f6f6;font-size:12px;color:#838383;float:left;}
.bag .bag-bottom .new ul.mes li div a{color:#838383;font-size:12px;height:18px;line-height:18px;padding-top:10px;padding-left:15px;display:block;}





.last{width:100%;min-width: 1332px;height:441px;background:#fff;margin:0 auto;}
.last .first{width:1332px;height:125px;border-bottom:1px solid #eaeaea;}
.last .first ul.last.clearfix{width:1182px;height:125px;padding-left:75px;padding-right:75px;}
.last .first ul.last.clearfix li{width:237px;height:44px;float:left;padding-top:44px; padding-bottom:37px;}

.last .first ul.last.clearfix li a.last-hit1{font-size:17px;color:#363636;font-weight: bold;}
.last .first ul.last.clearfix li a.last-hit2{font-size:12px;color:#989898;}
.last .first ul.last.clearfix li.last1{background:url(../img/zheng.png) no-repeat 0 44px;}
.last .first ul.last.clearfix li.last1 .last-hit1{padding-left:54px;}
.last .first ul.last.clearfix li.last1 .last-hit2{padding-left:54px;}
.last .first ul.last.clearfix li.last2{background:url(../img/wuliu.png) no-repeat 0 44px;}
.last .first ul.last.clearfix li.last2 .last-hit1{padding-left:51px;}
.last .first ul.last.clearfix li.last2 .last-hit2{padding-left:51px;}
.last .first ul.last.clearfix li.last3{background:url(../img/qitian.png) no-repeat 0 44px;}
.last .first ul.last.clearfix li.last3 .last-hit1{padding-left:51px;}
.last .first ul.last.clearfix li.last3 .last-hit2{padding-left:51px;}
.last .first ul.last.clearfix li.last4{background:url(../img/zitidian.png) no-repeat 0 44px;}
.last .first ul.last.clearfix li.last4 .last-hit1{padding-left:52px;}
.last .first ul.last.clearfix li.last4 .last-hit2{padding-left:52px;}
.last .first ul.last.clearfix li.last5{background:url(../img/kefu.png) no-repeat 0 44px;}
.last .first ul.last.clearfix li.last5 .last-hit1{padding-left:52px;}
.last .first ul.last.clearfix li.last5 .last-hit2{padding-left:52px;}



.last .middle{width:1182px;height: 240px;padding-left:75px;padding-right: 75px;}
.last .middle ul{float:left;padding-top:39px;}
.last .middle ul li.big a{font-size:14px;color:#373737;font-weight:bold;padding-bottom:18px;display:block;}
.last .middle ul li a{font-size:12px;color:#838383;}
.last .middle ul.m1{width:68px;height:240px;margin-right:121px;}

.last .middle ul.m2{width:58px;height:240px;margin-right:131px;}
.last .middle ul.m3{width:81px;height:240px;margin-right:107px;}
.last .middle ul.m4{width:58px;height:240px;margin-right:130px;}
.last .middle ul.m5{width:73px;height:240px;margin-right:107px;}
.last .middle ul.m6{width:237px;height:240px;}

.last .middle ul li.big2{height:16px;padding-bottom:12px;background:url(../img/heikuai.png) no-repeat 0 8px;padding-left:9px; }
.last .middle ul li.big3{height:20px;padding-bottom:7px;background:url(../img/heikuai.png) no-repeat 0 10px;padding-left:9px;}
.last .middle ul li.big4{height:18px;padding-bottom:11px;background:url(../img/heikuai.png) no-repeat 0 9px;padding-left:9px;}
.last .middle ul li.big5{height:18px;background:url(../img/heikuai.png) no-repeat 0 9px;padding-left:9px;}

.last .middle ul.m5 li.big2{background:url(../img/logo1.png) no-repeat 0 0;padding-left:25px;}
.last .middle ul.m5 li.big3{background:url(../img/logo2.png) no-repeat 0 0;padding-left:25px;}
.last .middle ul.m5 li.big4{background:url(../img/logo3.png) no-repeat 0 0;padding-left:25px;}
.last .middle ul.m5 li.big5{background:url(../img/logo4.png) no-repeat 0 0;padding-left:25px;}


.last .middle ul.m6 li.big2{width:229px;height:43px;background:url(../img/dianhuatu.png) no-repeat 0 0;padding-left:57px;margin-top:30px;}
.last .middle ul.m6 li.big2 .tell{font-size:20px; font-weight: bold;color:#409f73;}
.last .middle ul.m6 li.big2 .tell2{font-size:12px; color:#576267;}
.last .middle ul.m6 li.big3{width:229px;height:44px;background:url(../img/kefutu.png) no-repeat 0 22px;padding-left:57px;padding-top:26px;}
.last .middle ul.m6 li.big3 .tel{font-size:20px; font-weight:bold; color:#409f73;background:url(../img/zhishi.png) no-repeat 109px 5px;width:5px;width:229px;display:block;}
.last .middle ul.m6 li.big3 .tel2{font-size:12px; color:#576267;}
.last .foot{width:1182px;height:70px;border-top:5px solid #000;background:#2b2b2b;padding-left: 75px;padding-right:75px;overflow:hidden;}
.last .foot i.br{background:url(../img/logo88.png) no-repeat 0 0;width:100px;height:70px;float:left;}
.last .foot h4.h4-text{font-size:12px;color:#828282;height:70px;line-height:70px;padding-left:21px;float:left;}
.last .foot ul.l-f.clearfix{float:right;width:440px;height:75px;}
.last .foot ul.l-f.clearfix li{float:left;margin-right:40px;font-size:11px;line-height:70px;}
.last .foot ul.l-f.clearfix li a{color:#e2e2e2;}
