@charset "utf-8";
/* CSS Document */
	*{
		margin: 0;
		padding:0;
	}
	a{
		text-decoration: none;
		color:#808080;
	}
	a:hover{
		color:#A10000;
	}
	a.menu:hover{
		color:#808080;
	}
	body{
		padding-bottom: 30px;
	}
/*顶部样式*/
	#fanke{
		height:32px;
		width:100%;
		background:#F7F7F7;
		font-family: "宋体";
		color:#808080;
		font-size: 12px;
		line-height: 32px;
	}
	/*顶部区域左半边样式*/
	#fanke .fanke_left{
		margin-left: 74px;
		display: block;
		float: left;
		width:334px;
		/*border:1px solid purple;*/
	}
	#fanke .fanke_left .fanke_left_order_collect{
		margin-left: 15px;
	}
	/*顶部区域右半边样式*/
	#fanke .fanke_right{
		margin-left: 357px;
		display:block;
		width:500px;
		float:left;
		/*border:1px solid purple;*/
	}
	#fanke .fanke-right .fanke_right_from{
		float:left;
	}
	#fanke .fanke_right .fanke_right_a{
		width:48px;
		height:33px;
	}
	#fanke .fanke_right .fanke_right_a .a1{
		position:absolute;
		left:1100px;
		top:-1px;
	}
	#fanke .fanke_right .fanke_right_a .a2{
		position:absolute;
		left:1180px;
		top:-1px;
	}
/*广告样式*/
	#image{
		width:100%;
		height:50px;
		background: #B81B22;
	}
	#image .ad{
		width:1200px;
		height:50px;
		display:block;
		margin: 0 auto;
	}
/*第三行样式*/
	#three{
		width:1200px;
		height:62px;
		margin-top:18px;
		/*border: 1px solid purple;*/
		position: relative;
		float: left;
		left:72px;
	}
	/*第三行logo样式*/
	#three .three_logo{
		margin-left:35px;
		margin-top: 8px;
		width:166px;
		height:47px;
		border:0px;
		background: url(../image/bg.png) no-repeat 0px -60px; 
	}
	/*第三行搜索样式*/
	#three .three_ss{
		width: 438px;
		height:28px;
		border:1px solid #C9CACA;
		/*border: 1px solid purple;*/
		position: absolute;
		top:8px;
		float:left;
		left:642px;
	}
	/*搜索文本区域*/
	#three .three_ss .three_ss_text{
		width:390px;
		height:28px;
		display: block;
		float:left;
		border:none;
		/*position: absolute;*/
	}
	/*搜索按钮区域*/
	#three .three_ss .three_ss_button{
		width:49px;
		height:28px;
		display:block;
		position: absolute;
		left:390px;
		/*border:1px solid purple;*/
		background: url(../image/bg.png) no-repeat -99px 0px;
	}
	/*购物车区域*/
	#three .three_shopping{
		width:107px;
		height:28px;
		background: url(../image/bg.png) no-repeat -153px 0px;
		display: block;
		position: absolute;
		top:8px;
		right:0px;
		border:1px solid #C1383E;
	}
	#three .three_shopping a{
		color:white;
		font-size: 12px;
		font-family: "宋体";
		position: absolute;
		top:6px;
		left:29px;
	}
	#three .three_shopping:hover{
		background:url(../image/bg.png) no-repeat -153px -28px;
		border-bottom: none;
	}
	#three .three_shopping a:hover{
		color:#B81C22;
	}
	/*购物车结束*/
	/*热词搜索*/
	#three .hotword{
		width:438px;
		height:23px;
		display: block;
		/*border:1px solid purple;*/
		position:absolute;
		top:38px;
		left:642px;
	}
	#three .hotword p.three_bottom{
		width:440px;
		height:18px;
		position:absolute;
		top:5px;
	}
	#three .hotword p{
		font-size: 12px;
		color:#727171;
		position: absolute;
		top:5px;
		font-family: "宋体";
		text-indent: 20px;
		display:block;
		float:left;
	}
	#three .hotword .hotword_text .hotword_option{
		padding-left: 5px;
	}
/*第四行导航区域*/
	#menu{
		width:1200px;
		height:49px;
		margin:0 auto;
		position:absolute;
		top:175px;
		left:74px;
	}
	/*导航左侧区域*/
	#menu .menu_left{
		width:260px;
		height:49px;
		color:white;
		font-size: 17px;
		line-height: 49px;
		text-align: center;
		background:#B81C22;
		display: block;
		float: left;
	}
	/*导航右侧区域*/
	#menu .menu_right{
		width: 940px;
		height:49px;
		background: #EFEFEF;
		display: block;
		float:left;
	}
	#menu .menu_right ul{
		list-style: none;
		width:940px;
		height:49px;
		display: block;
		float:left;
		font-size: 16px;
		line-height: 49px;
		color:#727171;
	}
	#menu .menu_right ul a li{
		display: block;
		width:117.5px;
		height:49px;
		float:left;
		text-align: center;
	}
	#menu .menu_right ul a li:hover{
		background: #E5E6E6;
		color:#B81C22;
	}
/*第五区域大块菜单图片区域*/
	#form{
		width:1200px;
		height:492px;
		position:absolute;
		top:225px;
		left:74px;
	}
	/*大块左侧菜单区域*/
	#form .form_left{
		width:260px;
		height:490px;
		position:relative;
		/*border:1px solid purple;*/
	}
	/*标题栏（男装、女装、鞋）*/
	#form .form_left .form_left_title{
		color:#B81C22;
		font-size: 14px;
		z-index: 122;
	}
	#form .form_left .form_left_title span{
		background: white;
		padding-left:5px;
		padding-right: 5px;
	}
	#form .form_left .form_left_title .one{
		position:absolute;
		top:-8px;
		left:38px;
	}
	#form .form_left .form_left_title .two{
		position:absolute;
		top:264px;
		left:38px;
	}
	#form .form_left .form_left_title .three{
		position:absolute;
		top:417px;
		left:38px;
	}
	/*设置第三小行相对位置*/
	#form .form_left .third{
		position:absolute;
		top:35px;
		left: 35px;
	}
	/*设置所有最小菜单的位置（第二小行）*/
	#form .form_left .clothing_menu{
		position: absolute;
		top:14px;
		left:38px;
		color:#A3A2A2;
		font-size: 14px;
		color:#A3A2A2;
		line-height: 16px;
	}
	/*所有选项都左浮动*/
	#form .form_left  .man_clothing_option{
		float: left;
	}
	/*设置选项中的第一行选项为红色*/
	#form .form_left p.man_clothing_option_first{
		color:#B81C22;
	}
	/*男装区域*/
	#form .form_left .man_clothing{
		width:260px;
		height:254px;
		border:1px solid #C8C8C9;
		margin-top: 17px;
		position: relative;
	}
	/*第一层*/
	#form .form_left .man_clothing .man_clothing_one{
		width: 260px;
		height:70px;
		border-bottom:1px solid #C8C8C9;
		position: relative;
	}
	/*单独设置男装菜单的位置（第二小行）*/
	#form .form_left .man_clothing .man_clothing_one .man_clothing_menu{
		position: absolute;
		top:24px;
		left:38px;
	}
	/*设置所有选项的样式*/
	#form .form_left  .man_clothing_option{
		font-size: 12px;
		color:#727171;
		padding:0px 5px;
	}
	
	#form .form_left .man_clothing  .man_clothing_one .man_clothing_option{
		float: left;
	}
	/*设置第一层选项的位置*/
	#form .form_left .man_clothing  .man_clothing_one div{
		position: absolute;
		top:45px;
		left:35px;
	}
	/*第二层*/
	#form .form_left .man_clothing .man_clothing_two{
		height:60px;
		border-bottom:1px solid #C8C8C9;
		position: relative;
	}
	/*第三层*/
	#form .form_left .man_clothing .man_clothing_three{
		height:60px;
		border-bottom:1px solid #C8C8C9;
		position: relative;
	}
	/*第四层*/
	#form .form_left .man_clothing .man_clothing_four{
		height:60px;
		position: relative;
	}
	/*女装部分*/
	#form .form_left .women_clothing{
		width:260px;
		height:133px;
		border:1px solid #C8C8C9;
		margin-top: 18px;
		position:relative;
	}
	/*设置两个女装小分块的样式*/
	#form .form_left .women_clothing .women_clothing_one{
		width:260px;
		height:70px;
		border-bottom: 1px solid #C8C8C9;
		position:relative;
	}
	/*单独设置女装第一个小分块的2行样式*/
	#form .form_left .women_clothing_one .clothing_menu{
		position:absolute;
		top:22px;
		left:38px;
	}
	/*单独设置女装第一个小分块的3行样式*/
	#form .form_left .women_clothing_one .third{
		position:absolute;
		top:46px;
		left:38px;
	}
	#form .form_left .women_clothing .women_clothing_two{
		width:260px;
		position:relative;
	}
	/*女装样式结束*/
	/*其他部分*/
	#form .form_left .shoe{
		width:260px;
		height:46px;
		border:1px solid #C8C8C9;
		margin-top:18px;
		position:relative;
	}
	/*单独设置其他部分文字区块(第三区域)*/
	#form .form_left .shoe .third{
		position:absolute;
		top:20px;
		left:35px;
	}
	/*左边部分完成*/
	/*中间部分*/
	#form .form_middle{
		width:710px;
		height:475px;
		position:absolute;
		top:16px;
		left:270px;
		background: url(../image/ad-3.jpg);
	}
	#form .form_middle ul{
		width:126px;
		height:10px;
		position:absolute;
		top: 428px;
		left:262px;
		border:1px purple red;
	}
	#form .form_middle ul li{
		background: #1E1E1E;
		width:10px;
		height:10px;
		list-style: none;
		float: left;
		margin-right:7px;
		border-radius: 5px;
	}
	#form .form_middle ul li.cur{
		background:#A10000;
	}
	/*中间部分结束*/
	/*右侧部分*/
	#form .form_right{
		width:210px;
		height:476px;
		position:absolute;
		top:16px;
		left:990px;
		border:1px solid #C9C9C9;
	}
	#form .form_right .form_right_top{
		width:210px;
		height:238px;
		border-bottom:1px solid #C9C9C9;
	}
	/*商品区域*/
	.the_title{
		font-size: 17px;
		font-family: "Microsoft Yahei";
		color:#595757;
	}
	.the_title{
		position:absolute;
		top:-28px;
		left:34px;
	}
	/*(小型)普通产品区块*/
	.product{
		letter-spacing: 2px;
	}
	/*新品上架*/
	#hxz{
		width:1200px;
		height:231px;
		position:absolute;
		top:776px;
		left:74px;
		/*border:1px solid purple;*/
	}
	/*热销商品*/
	#hot{
		width:1200px;
		height:481px;
		position:absolute;
		top:1062px;
		left:74px;
	}
	.product_bottom{
		margin-top: 10px;
	}
	/*特价商品*/
	#special{
		width:1200px;
		height:481px;
		position:absolute;
		top:1596px;
		left:74px;
	}
	/*底部区域*/
	#last{
		width:1200px;
		height:190px;
		border:1px solid #E0E0E1;
		position:absolute;
		top:2117px;
		left:74px;
	}
	/*设置每一个小框的样式*/
	#last .last_small{
		width:199px;
		height:137px;
		border-right:1px solid #E0E0E1;
		position:relative;
		display: block;
		margin-top: 27px;
		float:left;
	}
	#last .last_title.right{
		border-right:none;
	}
	/*设置标题相对位置*/
	#last .last_title{
		font-size: 13px;
		font-family: "Microsoft YaHei";
		position: absolute;
		left:70px;
	}
	/*设置选项样式*/
	#last a{
		font-family: "Microsoft YaHei";
		font-size: 12px;
		line-height: 20px;
		color:#333333;
	}
	#last a:hover{
		color:#A10000;
	}
	/*选项相对位置*/
	#last .last_option_1{
		position: absolute;
		top:33px;
		left:70px;
	}
	#last .last_option_2{
		position: absolute;
		top:53px;
		left:70px;
	}
	#last .last_option_3{
		position: absolute;
		top:73px;
		left:70px;
	}
	#last .last_option_4{
		position: absolute;
		top:93px;
		left:70px;
	}
	#last .last_option_5{
		position: absolute;
		top:113px;
		left:70px;
	}
	/*底部按钮区域*/
	#back{
		width:1200px;
		height:52px;
		position: absolute;
		top:2322px;
		left:74px;
	}
	#back ul .back_width{
		width:300px;
		height:52px;
		display: block;
		float:left;
		list-style-type: none;
	}
	#back ul li.back_1{
		background: url(../image/bg.png) no-repeat 0px -120px;
		width:135px;
		height:32px;
		margin:10px auto;
	}
	#back ul li.back_2{
		background: url(../image/bg.png) no-repeat 0px -160px;
		width:170px;
		height:30px;
		margin:10px auto;
	}
	#back ul li.back_3{
		width:160px;
		height:30px;
		background: url(../image/bg.png) no-repeat 0px -200px;
		margin:10px auto;
	}
	#back ul li.back_4{
		width:170px;
		height:30px;
		background: url(../image/bg.png) no-repeat 0px -240px;
		margin:10px auto;
	}
	/*水平线*/
	hr{
		width:100%;
		color:#3E3A39;
		height:1px;
		position: absolute;
		top:2422px;
	}
	/*水平线结束*/
	#copyright{
		position: absolute;
		top:2435px;
		left:259px;
		font-size: 12px;
	}
