@charset "urf-8";
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
input{outline:none;border:none;}
a {
  text-decoration: none;
  font-family: 微软雅黑;
}
.box {
  width: 100%;
  margin: 0 auto;
  min-width: 640px;
}
.box .nav {
  width: 640px;
  height: 50px;
  margin: 0 auto;
}
.box .nav .left {
  color: #e74d59;
  font-size: 35px;
  line-height: 50px;
  font-weight: bold;
  font-family: 宋体;
  float: left;
  margin-right: 4px;
}
.box .nav .anniu{ width: 560px;
                  height: 30px;
                  float:left;
                 margin-top: 7px;
                  
                 position:relative;}
.box .nav input {
  width: 560px;
  height: 30px;
  border: 1px solid #ebebeb;
  border-radius:5%;
  border-sizing:border-box;

 
}
.box .nav img {
  width: 22px;
  height: 30px;
  float: left;

  position:absolute;left:538px;top:0px;
}
.box .nav a {
  float: left;
  color: #d44752;
  margin-top: 9px;
  margin-left: 12px;
}
.box .nav a .picture {
  background: url(../img/fenlei.png);
  width: 21px;
  height: 13px;
  position: relative;
}
.box .nav a .picture .div2 {
  width: 300px;
  height: 300px;
  background: yellow;
  position: absolute;
  left: 20px;
  top: 0px;
  display: none;
}
.box .nav a .div1 {
  font-size: 11px;
}
.box .p-t {
  width: 640px;
  height: 310px;
  margin: 0 auto;
}
.box .p-t .picture1 {
  width: 640px;
  height: 250px;
  background: url(../img/picture2.png);
}
.box .p-t ul {
  width: 640px;
  height: 60px;
  overflow: hidden;
}
.box .p-t ul li {
  width: 158px;
  height: 60px;
  float: left;
  background: url(../img/shu.png) no-repeat right center;
  cursor:pointer;}
.box .p-t ul li .picture3 {
  background: url(../img/picture3.png);
  width: 158px;
  height: 21px;
  margin-top: 12px;
  margin-bottom: 5px;
}
.box .p-t ul li .picture4 {
  background: url(../img/picture4.png);
  width: 158px;
  height: 21px;
  margin-top: 12px;
  margin-bottom: 5px;
}
.box .p-t ul li .picture5 {
  background: url(../img/picture5.png);
  width: 158px;
  height: 21px;
  margin-top: 12px;
  margin-bottom: 5px;
}
.box .p-t ul li .picture6 {
  background: url(../img/picture6.png);
  width: 158px;
  height: 21px;
  margin-top: 12px;
  margin-bottom: 5px;
}
.box .p-t ul li h2 {
  color: #7f7f7f;
  font-size: 12px;
  text-align: center;
}
.box .three {
  width: 640px;
  height: 217px;
  margin: 0 auto;
  padding-top: 12px;
}
.box .three .time {
  width: 629px;
  height: 32px;
  border-bottom: 1px solid #dadada;
  background: url(../img/picture8.png) no-repeat 8px 8px;
  padding-right: 8px;
  font-size: 15px;
  overflow:hidden;
}
.box .three .time h3 {
  color: #7f7f7f;
  line-height: 32px;
  padding-left: 18px;
  float:left;
}
.box .time .kuai{float:left;
                  padding-left:8px;
                  width:120px;
                  height:15px;
                  padding-top:8px;
                  overflow: hidden;}
.box .time .kuai span{background:#5d5d5d;
                width:15px;
                height:15px;
                color:#fff;
                font-size:12px;
                line-height:15px;
                display:block;
                float:left;
                margin-right:2px;
                text-align:center;}
.box .time .kuai span.two{margin-right:0px;} 
.box .time .kuai span.three{margin-right:0px;}                 
.box .time .kuai span.i1{background:#fff; 
                          width:8px;
                          height:15px;
                          color:#003797;
                          font-weight:bold;
                        }   
               
            
                
                
                
.box .three ul {
  width: 640px;
  height: 184px;
  overflow: hidden;
}
.box .three ul li {
  width: 211px;
  height: 184px;
  border-right: 1px solid #dadada;
  border-top: none;
  float: left;
}
.box .three ul li .tu1 {
  width: 210px;
}
.box .three ul li .tu2 {
  width: 210px;
}
.box .three ul li .tu3 {
  width: 210px;
}
.box .three ul li li.last {
  border-right: none;
}
.box .nine {
  width: 640px;
  height: 325px;
  margin: 0 auto;
  paddig-bottom:10px;
}
.box .nine .header1 {
  width: 640px;
  height: 38px;
  font-weight: bold;
  background: url(../img/picture8.png) no-repeat 8px 6px;
  padding-left: 16px;
  font-size: 15px;
  line-height: 32px;
  color:#7f7f7f;
}
.box .nine .maianglao{width:640px;height: 276px;}
.box .nine .maianglao img{width:640px;height: 276px;}




.box .six {
  width: 640px;
  height: 380px;
  margin: 0 auto;
  paddig-bottom:10px;
}
.box .six .header1 {
  width: 640px;
  height: 32px;
  font-weight: bold;
  background: url(../img/picture8.png) no-repeat 8px 6px;
  padding-left: 16px;
  font-size: 15px;
  line-height: 32px;
  color:#7f7f7f;
}
.box .six .bottom{width:640px;
                  height:348px;
                  overflow:hidden;}
.box .six .bottom-l{width:320px
                  height:348px;
                  float:left;}
.box .six .bottom-l .bottom-l-top{background:url(../img/bao.png);
                        width:320px;
                        height: 172px;
                        border-bottom:1px solid #dadada;}
.box .six .bottom-l .bottom-l-top a.trave{color:#707070;
                                          font-size:22px;
                                          padding-left:188px;
                                          padding-top:19px;
                                          display:block;}

.box .six .bottom-l .bottom-l-top .nice{color:#fd5c73;
                                        font-size:26px;
                                        padding-left:175px;}

.box .six .bottom-l .bottom-l-top2{background:url(../img/phone.png);
                                    width:320px;
                                    height: 172px;
                                   }
.box .six .bottom-l .bottom-l-top2 a.trave{color:#707070;
                                          font-size:22px;
                                          padding-left:24px;
                                          padding-top:34px;
                                          display:block;}

.box .six .bottom-l .bottom-l-top2 .nice{color:#fd5c73;
                                        font-size:26px;
                                        padding-left:24px;}

.box .six .bottom-r{width:320px;
                    height:348px;
                    background:url(../img/star.png) no-repeat;
                    float:right;
                    }



.box .seven {
  width: 640px;
  height: 380px;
  margin: 0 auto;
  paddig-bottom:10px;
}
.box .seven .header1 {
  width: 640px;
  height: 32px;
  font-weight: bold;
  background: url(../img/picture8.png) no-repeat 8px 6px;
  padding-left: 16px;
  font-size: 15px;
  line-height: 32px;
  color:#7f7f7f;
}
.box .seven .bottom{width:640px;
                  height:348px;
                  overflow:hidden;}
.box .seven .bottom-l{width:320px
                  height:348px;
                  float:left;}
.box .seven .bottom-l .bottom-l-top{background:url(../img/bao.png);
                        width:320px;
                        height: 172px;
                        border-bottom:1px solid #dadada;}
.box .seven .bottom-l .bottom-l-top a.trave{color:#707070;
                                          font-size:22px;
                                          padding-left:188px;
                                          padding-top:19px;
                                          display:block;}

.box .seven .bottom-l .bottom-l-top .nice{color:#fd5c73;
                                        font-size:26px;
                                        padding-left:175px;}

.box .seven .bottom-l .bottom-l-top2{background:url(../img/phone.png);
                                    width:320px;
                                    height: 172px;
                                   }
.box .seven .bottom-l .bottom-l-top2 a.trave{color:#707070;
                                          font-size:22px;
                                          padding-left:24px;
                                          padding-top:34px;
                                          display:block;}

.box .seven .bottom-l .bottom-l-top2 .nice{color:#fd5c73;
                                        font-size:26px;
                                        padding-left:24px;}

.box .seven .bottom-r{width:320px;
                    height:348px;
                    background:url(../img/star.png) no-repeat;
                    float:right;
                    }


.box .eight {
  width: 640px;
  height: 380px;
  margin: 0 auto;
  paddig-bottom:10px;
}
.box .eight .header1 {
  width: 640px;
  height: 32px;
  font-weight: bold;
  background: url(../img/picture8.png) no-repeat 8px 6px;
  padding-left: 16px;
  font-size: 15px;
  line-height: 32px;
  color:#7f7f7f;
}
.box .eight .bottom{width:640px;
                  height:348px;
                  overflow:hidden;}
.box .eight .bottom-l{width:320px
                  height:348px;
                  float:left;}
.box .eight .bottom-l .bottom-l-top{background:url(../img/bao.png);
                        width:320px;
                        height: 172px;
                        border-bottom:1px solid #dadada;}
.box .eight .bottom-l .bottom-l-top a.trave{color:#707070;
                                          font-size:22px;
                                          padding-left:188px;
                                          padding-top:19px;
                                          display:block;}

.box .eight .bottom-l .bottom-l-top .nice{color:#fd5c73;
                                        font-size:26px;
                                        padding-left:175px;}

.box .eight .bottom-l .bottom-l-top2{background:url(../img/phone.png);
                                    width:320px;
                                    height: 172px;
                                   }
.box .eight .bottom-l .bottom-l-top2 a.trave{color:#707070;
                                          font-size:22px;
                                          padding-left:24px;
                                          padding-top:34px;
                                          display:block;}

.box .eight .bottom-l .bottom-l-top2 .nice{color:#fd5c73;
                                        font-size:26px;
                                        padding-left:24px;}

.box .eight .bottom-r{width:320px;
                    height:348px;
                    background:url(../img/star.png) no-repeat;
                    float:right;
                    }


.box .four {
  width: 640px;
  height: 720px;
  margin: 0 auto;
}
.box .four .time1 {
  width: 640px;
  height: 32px;
  border-bottom: 1px solid #dadada;
  background: url(../img/picture8.png) no-repeat 8px 8px;
  padding-right: 8px;
  font-size: 15px;
}
.box .four .time1 h3 {
  color: #7f7f7f;
  line-height: 32px;
  padding-left: 18px;
}
.box .four ul {
  width: 620px;
  height: 684px;
  overflow: hidden;
  padding-left: 10px;
  padding-top: 10px;
}
.box .four ul li {
  width: 306px;
  height: 102px;
  margin-right: 4px;
  margin-bottom: 10px;
  float: left;
}
.box .five {
  width: 640px;
  height: 140px;
  margin: 0 auto;
}
.box .five .header {
  width: 640px;
  height: 32px;
  border-bottom: 1px solid #dadada;
  font-size: 14px;
  background: url(../img/fuhao.png) no-repeat 38px center;
}
.box .five .header-left {
  float: left;
  padding-left: 10px;
  line-height: 32px;
}
.box .five .header-left a {
  color: #666;
  position: relative;
}
.box .five .header-left a .kuang1 {
  width: 200px;
  height: 200px;
  background: red;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  display: none;
}
.box .five .header-left a .kuang2 {
  width: 200px;
  height: 200px;
  background: blue;
  position: absolute;
  left: 20px;
  padding: 0;
  display: none;
}
.box .five .header-right {
  float: right;
  line-height: 32px;
  padding-right: 12px;
  background: url(../img/fuhao.png) no-repeat 28px center;
}
.box .five .header-right a {
  color: #666;
  position: relative;
}
.box .five .header-right .kuang1 {
  width: 200px;
  height: 200px;
  background: red;
  position: absolute;
  left: 0;
  top: 32px;
  padding: 0;
  display: none;
}
.box .five h3 {
  overflow: hidden;
  width: 640px;
  height: 24px;
}
.box .five h3 a {
  color: #666;
  float: left;
  font-size: 14px;
  text-align: center;
  margin-top: 8px;
  padding-right: 30px;
}
.box .five h3 .text1 {
  padding-left: 227px;
}
.box .five h3 a:hover {
  color: red;
}
.box .five h4 {
  text-align: center;
  width: 640px;
  height: 13px;
  font-size: 11px;
  margin-top: 8px;
  color: #666;
}
.box .five h5 {
  text-align: center;
  width: 640px;
  height: 11px;
  font-size: 11px;
  margin-top: 8px;
  color: #666;
}
