/*多个页面公共组件样式*/

/*页面公共元素*/
body{font:12px/1.5 Arial,Verdana,"宋体";color: #666;}
.w{width: 1210px;margin: 0 auto;}
#header,
#search,
#nav,
#focus,
#main,
#footer{width: 100%;}

@font-face {
  font-family: 'jd';
  src: url('http://at.alicdn.com/t/font_1442745685_0699773.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1442745685_0699773.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1442745685_0699773.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1442745685_0699773.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1442745685_0699773.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.icon{
	font-family: jd;
}
/*头部公共样式*/
#header{
	background-color: #f1f1f1;
	height: 30px;
	line-height: 30px;
	z-index: 999;
	position: relative;
}

#header a{
	text-decoration: none;
	color: #666;
}
#header a:hover{
	color: #c81623;
}

#header li{
	height: 30px;
	float: left;
}

#header li.dropdown{
	position: relative;
}

#header .dropdown-layer{
	position: absolute;
	top: 30px;
	border:1px solid #dddddd;
	background-color: #ffffff;
	display: none;
	z-index: 1;
}
#header .title{
	z-index: 2;
	border-width: 0 1px;
	border-style: solid;
	border-color: #f1f1f1;
}
#header li:hover .title{
	background-color: #fff;
	border-color: #dddddd;
	padding-bottom: 1px;
}
#header li:hover .dropdown-layer{
	display: block;
}
#header .arrow-w{
	position: relative;
	padding-right: 25px;
	padding-left: 8px;
}
#header .arrow{
	position: absolute;
	right: 8px;
	top:0;
	font-size: 14px;
	font-weight: 400;
	height: 30px;
	line-height: 30px;
	display: block;
	transition:all 0.2s linear 0s;
}
#header .dropdown:hover .arrow{
	transform:rotate(180deg);
}

#header .reg{
	color: #c81623;
}

#header .icon{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
#header li:hover .icon{
	color: #c81623;
}
#header li.margin-10{
	margin: 0 10px;
}
#header .separator{
	margin-top: 9px;
	height: 12px;
	width: 1px;
	background-color: #dddddd;
}


#city .dropdown-layer ul{
	padding: 10px 0 10px 10px;
	width: 301px;
}
#city .dropdown-layer li{
	float: left;
	width: 60px;
	padding: 2px 0;
	z-index: 55;
}
#city .dropdown-layer li a{
	padding: 0 8px;
	line-height: 24px;
	display: inline-block;
}
#city .dropdown-layer .cur a{
	background-color: #c81623;
	color: #fff;
}
/*我的京东*/
#myjd .dropdown-layer{
	width: 270px;
}
#myjd .pic{
	padding: 10px 15px;
}
#myjd .avatar{
	display: block;
	margin-right: 10px;
	float: left;
}
#myjd .avatar img{
	border-radius: 50%;
	height: 60px;
	width: 60px;
}
#myjd .login a{
	font-weight: 700;
}
#myjd .list{
	overflow: hidden;
	margin: 5px 0 10px;
	padding: 0 0 0 15px;
}
#myjd .list li{
	width: 126px;
	float: left;
	line-height: 24px;
	height: 24px;
}
#myjd .recent{
	padding: 10px 15px;
	border-top: 1px dotted #ccc;
	overflow: hidden;
}
#myjd .recent h4{
	float: left;
}
#myjd .recent .more{
	float: right;
}
#myjd .recent ul{
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
}
#myjd .recent ul li{
	padding: 4px;
	width: 50px;
	height: 50px;
}
#myjd .recent ul img{
	width: 50px;
	height: 50px;
}
/*关注京东*/
#sqcode .dropdown-layer{
	width: 82px;
	padding-bottom: 2px;
}
/*服务*/
#jdservices ul{
	width: 81px;
	text-align: center;
}
#jdservices li{
	float: none;
}
/*手机app二维码*/
#jdapps .dropdown-layer{
	padding: 5px;
}
#jdapps img{
	width: 210px;
	height: auto;
}
/*头部网站导航*/
#headernav .dropdown-layer{
	right: 0;
	background-color: #fff;
	z-index: 0;
	padding: 20px 0 16px;
}
#headernav .wrapper{
	width: 1210px;
}
#headernav dl{
	float: left;
	width: 259px;
	padding-left: 20px;
	border-left: 1px solid #ddd;

}
#headernav dl.d1{
	width: 347px;
	border-left: none;
}
#headernav dt{
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 6px;
}
#headernav dd{
	float: left;
	width: 86px;
	line-height: 24px;
}
/*-----------搜索栏-----------*/
#search{
	z-index: 91;
	position: relative;
}
#search-bar{
	margin-top: 25px;
	width: auto;
	float: left;
}
#search-bar .txt{
	color: #999;
	width: 446px;
	border-color: #b61d1d;
	border-style: solid;
	border-width: 2px 0 2px 2px;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	padding: 4px;
	float: left;
}
#search-bar .btn{
	height: 36px;
	line-height: 36px;
	text-align: center;
	border:none;
	background-color: #c81623;
	font-family: "微软雅黑";
	color: #fff;
	width: 82px;
	cursor: pointer;
	float: left;
	font-size: 16px;
}
#shopping{
	position: relative;
	float: right;
	margin-top: 25px;
	margin-right: 65px;
	height: 36px;
}

#shopping .title{
	position: relative;
	width: 75px;
	padding: 0 28px 0 36px;
	height: 34px;
	line-height: 34px;
	background-color: #f9f9f9;
	border:1px solid #dfdfdf;
	text-align: center;
	z-index: 1;
}
#shopping .title a{
	text-decoration: none;
	color: #666;
}
#shopping .title a:hover{
	color: #c81623;
}
#shooping .title:hover{
	background-color: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
#shopping .count{
	border-radius: 7px 7px 7px 0;
	position: absolute;
	color: #fff;
	font-size: 12px;
	line-height: 12px;
	padding: 1px 2px;
	text-align: center;
	min-width: 12px;
	background-color: #c81623;
	top: -4px;
	left: 104px;
}
#shopping .car{
	background: url(../images/sp.png) scroll no-repeat 0 -58px;
	height: 16px;
	width: 18px;
	left: 18px;
	top: 9px;
	display: block;
	position: absolute;
}
#shopping .arrow{
	position: absolute;
	cursor: #999;
	height: 13px;
	width: 7px;
	right: 10px;
	top: 11px;
	font:400 13px/13px simsun;
}
#shopping .goods{
	z-index: 20;
	position: absolute;
	width: 248px;
	background-color: #fff;
	border:1px solid #ddd;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	padding: 10px 15px 10px 45px;
	height: 49px;
	line-height: 49px;
	right: 0;
	color: #999;
	display: none;
	top: 36px;
	z-index: 2;
}
#shopping .goods i{
	height: 49px;
	width: 56px;
	float: left;
	display: block;
	background: url(../images/nogoods.png) no-repeat scroll 0 0 ;
}
#shopping .goods .mask{
	height: 12px;
	background-color: #fff;
	width: 139px;
	right: 0;
	top: -7px;
	position: absolute;
}
#shopping:hover .title{
	background-color: #fff;
	border:1px solid #ddd;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
#shopping:hover .goods{
	display: block;
}

#keywords{
	width: 518px;
	float: left;
	height: 20px;
	line-height: 20px;
}
#keywords .hot{
	color: #c81623;
}
#keywords a{
	color: #666;
	text-decoration: none;
	margin-right: 10px;
	float: left;
}
#keywords a:hover{
	color: #c81623;
	white-space: nowrap;
}

/*--------首页广告-----------*/
.wide-ad{
	width: 1210px;
	margin: 0 auto;
	height: 140px;
}
.wide-ad a{
	float: left;
	display: block;
	padding: 0;
	margin: 0;
}
.wide-ad img{
	vertical-align: top;
}

/*-----------轮播图共同样式------------*/
.tsp-slider > ul.dots{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 5px;
}
.tsp-slider .dots li{
	border-radius: 50%;
	height: 9px;
	line-height: 9px;
	width: 9px;
	text-align: center;
	overflow: hidden;
	margin: 0 2px;
	background-color: #3e3d3d;
	display: inline-block;
	*zoom:1;
	*display: inline;
	cursor: pointer;
}
.tsp-slider .dots li.cur{
	background-color: #b61b1f;
}

.tsp-slider .btn{
	position: absolute;
	top: 50%;
	margin-top: -31px;
	width: 28px;
	height: 62px;
	line-height: 62px;
	font-family: simsun;
	color: #fff;
	background-color: rgba(0,0,0,0.2);
	text-align: center;
	font-weight: 400;
	font-size: 22px;
	cursor: pointer;
	display: none;
}
.tsp-slider .btn-l{
	left: 0;
}
.tsp-slider .btn-r{
	right: 0;
}

.tsp-slider .lis{
	border-bottom: 1px solid #ededed;
}