#w990 .w{
	width: 990px;
	margin: 0 auto;
}
#w990 .h{
	display: none;
}
#w990 .s{
	display: block;
}


/*--------顶部导航-------------*/
#w990 #headernav .wrapper{
	width: 990px;
}
#w990 #headernav .wrapper dl{
	width: 201px;
}
#w990 #headernav .wrapper .d1{
	width: 301px;
}
/*-------------------中部广告*/
#w990 .header-ad img{
	width: 990px;
	height: auto;
}

/*-----------搜索栏*/
#w990 #search-bar .txt{
	width: 370px;
}
#w990 #shopping{
	margin-right: 0;
}

/*-----------------导航栏*/
#w990 #category-dd .block .left .hd{
	width: 570px;
}
#w990 #category-dd .block .left .bd{
	width: 570px;
}
#w990 #category-dd .block .left .bd dd{
	width: 480px;
}
#w990 #category-dd{
	width: 779px;
}

/*------------------焦点图*/
#w990 #focus .w{
	margin-top: 12px;
}
#w990 #focus .wrapper{
	width: 510px;
}
#w990 #focus .td-slider{
	width: 990px;
}

/*--------------猜你喜欢*/
#w990 #guessu li{
	width: 197px;
}

#w990 #special .brands a.h{
	display: none;
}
/*--------------今日推荐*/
#w990  #today .mc{
	width: 990px;
	overflow: hidden;
}
#w990  #today .mc .td-slider{
	width: 990px;
	overflow: hidden;
}
/*--------------特色够*/

#w990 #special .left{
	width: 164px;
}
#w990 #special .left .item{
	width: 163px;
}
#w990 #special .left .item img{
	margin-left: -18px;
}

#w990 #special .center{
	width: 328px;
}
#w990 #special .center .item{
	width: 163px;
}
#w990 #special .center .item-c{
	width: 327px;
}
#w990 #special .center img{
	margin-left: -18px;
}

#w990 #special .center .brands-w a{
	width: 163px;
	background-color: #F7F7F7;
}
#w990 #special .right{
	width: 498px;
}
#w990 #special .right .item{
	width: 165px;
}
#w990 #special .right .item img{
	margin-left: -18px;
}
#w990 #special .mc{
	width: 990px;
}
#w990 #special .right .item-2-col{
	width: 331px;
}
#w990 #special .w{
	margin-bottom: 20px;
}
/*-----------广告*/

#w990 .wide-ad img{
	width: 330px;
	height: auto;
}

/*-----------楼层公共*/
#w990 .floor .main-880{
	width: 660px;
}
#w990 .floor .main-1000{
	width: 780px;
}


#w990 #f11 .main{
	height: 237px;
}
#w990 #f11 .main-395{
	width: 780px;
}
#w990 #f11 .banner{
	height: 237px;
}
#w990 #f11 .theme{
	margin-top: -92px;
}

#w990 #f11 li.w-197{
	width: 192px;
}

#w990 #b_special{
	width: 679px;
}

#w990 #dkhs span{
	width: 245px;
}

#w990 #comp-info dl{
	width: 144px;
}