*{margin:0;padding:0;}
li{list-style: none;}
a{text-decoration:none;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
h1,h2,h3,h4,h5,h6,p,strong{font-family:微软雅黑;font-weight:normal;}