@charset "utf-8";
/* CSS Document */

*{
	padding: 0;
	margin: 0;
}
body{
	font: 12px/1.5 tahoma,arial,"Hiragino Sans GB","宋体",sans-serif;
	background: #f5f5f5;
}
input{
	border: none;
}
img{
	border: none;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}


@font-face {font-family: 'iconfontglobe';

    src: url('../font/iconfont.eot'); /* IE9*/

    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */

    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */

    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/

    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */

}

.iconlogo{
	font-family: "iconfontglobe" !important;
	font-size: 12px;
	color: #c40000;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*顶部广告开始*/
#top_ad{
	width: 100%;
	height: 0;
	overflow: hidden;
	background: #ee4e74;
	text-align: center;
	/*position: relative;*/
}
#top_ad .ad{
	margin: 0 auto;
	display: block;
	width: 1190px;
	text-align: center;
}
/*顶部广告结束*/

/*顶部导航开始*/
#top{
	width: 100%;
	background: #f2f2f2;
	border-bottom: 1px solid #e5e5e5;
	height: 26px;
}
#top .nav{
	width: 1190px;
	height: 26px;
	line-height: 26px;
	margin: 0 auto;
}
#top .nav .left{
	float: left;
}
#top .nav .left a.index:hover{
	text-decoration: underline;
	color: #C40000;
}
#top .nav .right{
	float: right;
	position: relative;
}
#top .nav .left a{
	display: inline-block;
	line-height: 26px;
	margin-right: 20px;
	color: #999;
}
#top .nav .right li{
	list-style: none;
	line-height: 26px;
	display: inline-block;
	position: relative;
}
#top .nav .right li > a{
	padding: 0 12px 0 9px;
	line-height: 26px;
	height: 26px;
	display: inline-block;
	position: relative;
	color: #999;
}
#top .nav .right a.bao{
	padding-left: 16px;
	background: url(../img/tb.png) no-repeat -427px 7px;
}
#top .nav .right .sc{
	line-height: 20px;
	width: 64px;
	height: 40px;
	background: #fff;
	border: 1px solid #eee;
	border-top: none;
	position: absolute;
	top: 26px;
	left: 0px;
	display: none;
	padding:5px 10px;
	z-index: 22;
}
#top .nav .right .cang:hover > .sc{
	display: block;
}
#top .nav .right .phone{
	height: 227px;
	width: 175px;
	background: #fff;
	position: absolute;
	top: 26px;
	left: -48px;
	border: 1px solid #aaa;
	box-shadow: 0 0 5px #aaa;
	display: none;
	z-index: 99;	
}
#top .nav .right .phone .phone_con{
	background: url(../img/bgphone.png) no-repeat;
	height: 175px;
	width: 175px;
	margin: 5px 0 0;
}
#top .nav .right .phone p{
	background: url(../img/bgphone.png) no-repeat 0 -185px;
	line-height: 35px;
	margin: 0 15px;
	overflow: hidden;
	height: 35px;
}
#top .nav .right .phone b{
	border-color: transparent transparent #fff;
	border-style: dashed dashed solid;
	border-width: 5px;
	height: 0;
	left: 50%;
	width: 0;
	top:-10px;
	position: absolute;
	margin-left: -2px;
}
#top .nav .right li.p:hover > .phone{
	display: block;
}
#top .nav .right .sc a{
	display: block;
	height: 20px;
	line-height: 20px;
	color: #666;
}
#top .nav .right .pannel{
	line-height: 20px;
	width: 74px;
	height: 40px;
	background: #fff;
	border: 1px solid #eee;
	border-top: none;
	position: absolute;
	top: 26px;
	left: 0px;
	display: none;
	padding:5px 10px;
	z-index: 22;
}
#top .nav .right .pannel a{
	display: block;
	height: 20px;
	line-height: 20px;
	color: #666;
}
#top .nav .right .pannel a:hover,#top .nav .right .sc a:hover{
	color: #C40000;
	text-decoration: underline;
}
#top .nav .right .my_pannel:hover > .pannel{
	display: block;
}
#top .nav .right a i{
	padding-right: 5px;
	position: relative;
	top: -1px;
}
#top .nav .right span.shu{
	border-left: 1px solid #ccc;
	position: absolute;
	height: 12px;
	top: 5px;
	right: -10px;
}
#top .nav .right a.fen{
	padding-left: 20px;
}
#top .nav .right  li > a span.jiao{
	border-color: #bbb transparent transparent;
	border-style: solid dashed dashed;
	border-width: 3px;
	height: 0;
	line-height: 0;
	position: absolute;
	top: 12px;
	width: 0;
	right: 3px;
}
#top .nav .right li > a:hover{
	text-decoration: underline;
	color: #c40000;
}
/*网站导航下拉菜单开始*/
#top .nav .right .wzdh:hover > #down_nav{
	display: block;
}
#top .nav .right .wzdh:hover,#top .nav .right .cang:hover,#top .nav .right .my_pannel:hover{
	background: #fff;
	height: 27px;
}
	/*网站导航下拉菜单*/
	#down_nav{
		width: 1190px;
		height: auto;
		padding: 25px 0;
		position: absolute;
		top: 27px;
		right: 0;
		border: #eee solid 1px;
		border-top: none;
		background: #fff;
		color: ;
		z-index: 33;
		overflow: hidden;
		display: none;
	}
	#down_nav .hot{
		width: 380px;
		height: 150px;
		padding-left: 30px;
		float: left;
		overflow: hidden;
		border-right: 1px solid #f5f5f5;
	}
	#down_nav a:hover{
		color: #000;
		text-decoration: underline;
	}
	#down_nav .hot a:hover{
		color: #f56a00;
	}
	#down_nav h2{
		color: #f56a00;
		font-family: "微软雅黑",arial"宋体";
		font-size: 16px;
		padding-bottom: 8px;
		height: 22px;
		line-height: 22px;
		/*overflow: hidden;*/
		/*float: left;*/
	}
	#down_nav .market{
		width: 375px;
		height: 150px;
		padding-left: 30px;
		float: left;
		overflow: hidden;
		border-right: 1px solid #f5f5f5;
	}
	#down_nav .market a:hover{
		color: #2263d4;
	}
	#down_nav .brand{
		width: 181px;
		height: 150px;
		padding-left: 30px;
		float: left;
		overflow: hidden;
		border-right: 1px solid #f5f5f5;
		
	}
	#down_nav .help{
		width: 131px;
		height: 150px;
		padding-left: 30px;
		float: left;
		overflow: hidden;
	}
	
	#down_nav ul{
		margin-right: -20px;
		overflow: hidden;
	}
	#down_nav ul li{
		float: left;
		overflow: hidden;
		padding: 6px 0;
		width: 95px;
		white-space: normal;
		height: 17px;
		line-height: 20px;
	}
	#down_nav ul li a{
		color: #666;
		
	}
	/*网站导航下拉菜单结束*/
/*网站导航下拉菜单结束*/

/*顶部导航结束*/
/*顶部搜索开始*/
#main{
	background: #fff;
	width: 100%;

}
#sousuo{
	height: 122px;
	width: 1190px;
	margin: 0 auto;
	/*border: 1px solid red;*/
	position: relative;
}
#sousuo img{
	position: absolute;
	top:0;
	left: 0;
}
#sousuo .box1{
	color: #666;
	font-weight: 400;
	height: 22px;
	line-height: 22px;
	padding: 5px;
	width: 439px;
}
#sousuo .sou{
	color: #fff;
	font-size: 16px;
	height: 33px;
	width: 90px;
	text-align: center;
	line-height: 33px;
	background: #c40000;
	font-family: "微软雅黑",arial,"宋体";
	letter-spacing: 4px;
	position: absolute;
	top: -1;
	left: 449px;
}
#sousuo form{
	border-width: 3px 0 3px 3px;
	border-color: #c40000;
	border-style: solid;
	height: 32px;
	width: 537px;
	position: absolute;
	top: 25px;
	left: 340px;
	overflow: hidden;
}
#sousuo ul{
	position: absolute;
	top: 66px;
	left: 328px;
}
#sousuo ul li{
	float: left;
	padding: 0 12px;
	height: 13px;
	line-height: 20px;
	position: relative;
}
#sousuo ul li a{
	font-size: 12px;
	color: #999;
	line-height: 20px;
}
#sousuo ul li a:hover{
	text-decoration: underline;
}
#sousuo ul li a.red{
	color: #c40000;
}
#sousuo ul li a span.shu{
	border-left: 1px solid #ccc;
	position: absolute;
	height: 12px;
	top: 5px;
	right: 1px;
}
.right_ad{
	height: 100px;
	width: 200px;
	margin-top: 10px;
	position: absolute;
	top: 0;
	right: 0;
}
.right_ad a{
	display: block;
}
/*顶部搜索结束*/


	/*导航开始*/
.menu_nav{
	width: 1190px;
	margin: 0 auto;
	height: auto;
	position: relative;
}
.menu_nav h2{
	color: #fff;
	width: 190px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	background: #c40000;
	display: inline-block;
	float: left;
}
.menu_nav ul.heng{
	height: 33px;

}
.menu_nav ul.heng li{
	display: inline-block;
	line-height: 33px;
	font-size: 14px;
	font-weight: 700;
	padding: 0 20px;
	float: left;
}
.menu_nav ul.heng li a{
	color: #000;
}
.menu_nav ul.heng li a:hover{
	color: #c40000;
}

	/*导航结束*/
.box_ban{
	width: 100%;
	height: 480px;
	overflow: hidden;
	background: #0f8eef;
	margin-bottom: 20px;
}
.box_ban .banner_first{
	position: relative;
}	
.box_ban .banner{
	width: 1190px;
	margin: 0 auto;
	height: 480px;
	position: relative;

}
.box_ban .banner_floor{
	width: 100%;
	height: 480px;
	display: none;
}
	/*轮播导航开始*/

	/*左侧导航开始*/
	
	/*左侧二级导航开始*/
	/*第一层开始*/
.left_nav .box.one_list{
	position: absolute;
	left: 185px;
	top: 0;
	background: #fbfbfb;
	opacity: 0.8;
	filter: alpha(opacity=80);
	overflow: hidden;
	border: 1px solid #CCCCCC;
	width: 70px;
	height: 478px;
	padding-top: 5px;
	display: none;
}
.left_nav li:hover {}
.left_nav .one_list a{
	color: #363636;
	width: 70px;
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #e5e5e5;
	display: block;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	
}
	/*第一层结束*/

	/*第二层开始*/
.left_nav .box{
	height: 472px;
	width: 360px;
	border-top:2px solid #978d8d ;
	border-bottom: 2px solid #978d8d;
	background: #fbfbfb;
	opacity: 0.8;
	filter: alpha(opacity=80);
	padding: 4px 20px 0 20px;
	position: absolute;
	overflow: hidden;
	z-index: 1;
	left: 185px;
	top: 0px;

}	
.left_nav .box.sub2{
	display: none;
}
.left_nav .box1{
	width: 360px;
	height: 472px;
	overflow: hidden;
}
.left_nav .box1 h3{
	border-bottom: 1px solid #000;
	height: 20px;
	line-height: 20px;
	margin-top: 20px;
	/*border: 1px solid #000;*/
	position: relative;
}
.left_nav .box1 h3 a{
	color:#000000;
	position: absolute;
	font-family: "Microsoft YaHei";
	font-size: 12px;
	font-weight: 700;
	height: 20px;
	display: block;
}
.left_nav .box1 h3 a.tit{
	width: 90px;
	left: 0;
	bottom: 0px;
	text-align: center;
	padding-top: 17px;
	padding-left: 30px;
	background: url(../img/navbg.png) no-repeat -20px -24px;
}
.left_nav .box1 h3 a.tit.tit1{
	background:url(../img/navbg.png) no-repeat -20px -71px;
}
.left_nav .box1 h3 a.more{
	left: auto;
	bottom: 0;
	right: 0;
	color: #666666;
}
.left_nav .box1 h3 a .iconlogo{
	font-size: 12px;
	color: #666;

}

.left_nav .box1 p{
	margin: 10px auto 0;
	padding-bottom: 9px;
	overflow: hidden;
	line-height: 22px;
	border-bottom: 1px dotted #cdcdcd;
	position: relative;
	left: -1px;
	max-height: 84px;
}
.left_nav .box1 p.no{
	border-bottom: none;
	padding-bottom: 0;
}
.left_nav .box1 p a{
	padding: 0 7px;
	height: 22px;
	line-height: 22px;
	display: inline-block;
	white-space: nowrap;
	color: #888;
	background: url(../img/shu.jpg) no-repeat 0 4px;
}	
	/*第二层结束*/
	/*第三层开始*/
.left_nav .box.sub3{
	display: none;
}
.left_nav .sub3 .box1 p{
	padding-bottom: 0;
	border-bottom: none;
}
.left_nav .box1 h3 a.tit.tit31{
	background-position: -20px -118px;
}
.left_nav .box1 h3 a.tit.tit32{
	background-position: -20px -165px;
}
.left_nav .box1 h3 a.tit.tit33{
	background-position: -20px -212px;
}	
	/*第三层结束*/
	/*第四层开始*/
.left_nav .sub4 .box1 p{
	padding-bottom: 0;
	border-bottom: none;
}
.left_nav .box.sub4{
	display: none;
}	
.left_nav .box1 h3 a.tit.tit41{
	background-position: -20px -308px;
}
.left_nav .box1 h3 a.tit.tit42{
	background-position: -20px -262px;
}
.left_nav .box1 h3 a.tit.tit43{
	background-position: -20px -353px;
}	
	/*第四层结束*/
	/*第5层开始*/
.left_nav .sub5 .box1 p{
	padding-bottom: 0;
	border-bottom: none;
}
.left_nav .box.sub5{
	display: none;
}	
.left_nav .box1 h3 a.tit.tit51{
	background-position: -20px -400px;
}
.left_nav .box1 h3 a.tit.tit52{
	background-position: -20px -447px;
}
.left_nav .box1 h3 a.tit.tit53{
	background-position: -20px -494px;
}	
	/*第5层结束*/
	/*第6层开始*/
.left_nav .sub6 .box1 p{
	padding-bottom: 0;
	border-bottom: none;
}
.left_nav .box.sub6{
	display: none;
}	
.left_nav .box1 h3 a.tit.tit61{
	background-position: -20px -541px;
}
.left_nav .box1 h3 a.tit.tit62{
	background-position: -20px -587px;
}
.left_nav .box1 h3 a.tit.tit63{
	background-position: -20px -637px;
}	
	/*第6层结束*/
	/*第7层开始*/
.left_nav .sub7 .box1 p{
	padding-bottom: 0;
	border-bottom: none;
}
.left_nav .box.sub7{
	display: none;
}	
.left_nav .box1 h3 a.tit.tit71{
	background-position: -20px -1440px;
}
.left_nav .box1 h3 a.tit.tit72{
	background-position: -20px -1486px;
}
.left_nav .box1 h3 a.tit.tit73{
	background-position: -20px -682px;
}
.left_nav .box1 h3 a.tit.tit74{
	background-position: -20px -1534px;
}
	/*第7层结束*/
	/*第8层开始*/
.left_nav .box.sub8{
	display: none;
}	
.left_nav .box1 h3 a.tit.tit81{
	background-position: -20px -1581px;
}
	/*第8层结束*/
	/*第9层开始*/
.left_nav .box.sub9{
	display: none;
}
.left_nav .sub9 .box1 p{
	padding-bottom: 0;
	border-bottom: none;
}
.left_nav .box1 h3 a.tit.tit91{
	background-position: -20px -776px;
}
.left_nav .box1 h3 a.tit.tit92{
	background-position: -20px -823px;
}
.left_nav .box1 h3 a.tit.tit93{
	background-position: -20px -1252px;
}	
	/*第9层结束*/
	/*第10层开始*/
.left_nav .box.sub10{
	display: none;
}	
.left_nav .box1 h3 a.tit.tit101{
	background-position: -20px -870px;
}
	/*第10层结束*/	
	/*第11层开始*/
.left_nav .box.sub11{
	display: none;
}	
.left_nav .box1 h3 a.tit.tit111{
	background-position: -20px -917px;
}
.left_nav .box1 h3 a.tit.tit111{
	background-position: -20px -964px;
}	
	/*第11层结束*/
	/*第12层开始*/
.left_nav .box.sub12{
	display: none;
}	
.left_nav .box1 h3 a.tit.tit121{
	background-position: -20px -1011px;
}
	/*第12层结束*/
	/*第13层开始*/
.left_nav .box.sub13{
	display: none;
}
.left_nav .box1 h3 a.tit.tit131{
	background-position: -20px -1058px;
}		
	/*第13层结束*/
	/*第14层开始*/
.left_nav .box.sub14{
	display: none;
}
.left_nav .box1 h3 a.tit.tit141{
	background-position: -20px -1105px;
}		
	/*第14层结束*/
	/*第15层开始*/
.left_nav .box.sub15{
	display: none;
}
.left_nav .sub15 .box1 p{
	padding-bottom: 0;
	border-bottom: none;
}
.left_nav .box1 h3 a.tit.tit151{
	background-position: -20px -1299px;
}
.left_nav .box1 h3 a.tit.tit152{
	background-position: -20px -1152px;
}
.left_nav .box1 h3 a.tit.tit153{
	background-position: -20px -1346px;
}
.left_nav .box1 h3 a.tit.tit154{
	background-position: -20px -1393px;
}		
	/*第15层结束*/
	/*第16层开始*/
.left_nav .box.sub16{
	display: none;
}
.left_nav .box1 h3 a.tit.tit101{
	background-position: -20px -1199px;
}		
	/*第16层结束*/
/*二级菜单hover效果开始*/
.left_nav li > div.box{
	-webkit-transition: -webkit-transform 0.2s linear;
	-moz-transition: -moz-transform 0.2s linear;
	-o-transition: -o-transform 0.2s linear;
	transition: transform 0.2s linear;
}

/*.box_ban .banner .left_nav li:hover > .box{
	
}*/
.left_nav li:hover > .one_list{
	display: block;
}
.left_nav li:hover > div.box{
	/*二级菜单标注*/
	display: block;
	/*transition: width 0.2s linear 0s;*/
	-webkit-transform: translateX(5px);
	-moz-transform: translateX(5px);
	-ms-transform: translateX(5px);
	-o-transform: translateX(5px);
	transform: translateX(5px);
}

/*二级菜单hover效果结束*/
	/*左侧二级导航结束*/
	
	
	
.menu_nav .left_nav{
	float: left;
	width: 190px;
	height: 480px;
	font-family: "Microsoft YaHei";
	position: absolute;
	left: 0;
	top: 33px;
	z-index: 3;
}
.menu_nav .left_nav li{
	color: #fff;
	line-height: 30px;
	height: 30px;
	background: #2D2D2D;
}
.menu_nav .left_nav li > i{
	color: #fff;
	margin-right: 10px;
	text-align: right;
	width: 35px;
	font-size: 16px;
	display: inline-block;
	/*transition:width 0.2s linear 0s;*/
	-webkit-transition: -webkit-transform 0.2s linear;
	-moz-transition: -moz-transform 0.2s linear;
	-o-transition: -o-transform 0.2s linear;
	transition: transform 0.2s linear;
}
.menu_nav .left_nav li:hover > i{
	-webkit-transform: translateX(5px);
	-moz-transform: translateX(5px);
	-ms-transform: translateX(5px);
	-o-transform: translateX(5px);
	transform: translateX(5px);
}
.menu_nav .left_nav li:hover > a{
	-webkit-transform: translateX(5px);
	-moz-transform: translateX(5px);
	-ms-transform: translateX(5px);
	-o-transform: translateX(5px);
	transform: translateX(5px);
	text-decoration: underline;
}
.menu_nav .left_nav li > a{
	-webkit-transition: -webkit-transform 0.2s linear;
	-moz-transition: -moz-transform 0.2s linear;
	-o-transition: -o-transform 0.2s linear;
	transition: transform 0.2s linear;
	display: inline-block;
	color: #fff;
}
.menu_nav .left_nav li span.first{
	border-color: transparent #f3f3f3;
	display: block;
	border-style: solid;
	border-width: 7px 7px 7px 0;
	height: 0;
	width: 0;
	line-height: 0;
	position: relative;
	right: -10px;
	/*top: 9px;*/
}
.menu_nav .left_nav li span{ /*向下*/
	display: none;
	border-color: #fff transparent;
	border-width: 4px 4px 0;
	border-style: solid;
	width: 0;
	height: 0;
	/*position: absolute;*/
	/*text-align: right;*/
	float: right;
	/*right: 10px;*/
	/*top: 14px;*/
	margin-right: 10px;
	margin-top: 14px;
}
.menu_nav .left_nav li:hover{
	background:#a90000;
	
}
.box_ban .left_nav1{
	float: left;
	width: 190px;
	height: 480px;
	/*font-family: "Microsoft YaHei";*/
	position: relative;
	/*z-index: 3;*/
}
.box_ban .banner .pic{
	float: left;
	height: 480px;
	width: 810px;
	overflow: hidden;
	position: relative;
}

#pic_one a{
	display: none;
	position: relative;
}
#pic_one a span{
	width: 405px;
	height: 480px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.box_ban .banner .pic a img{
	height: 480px;
	width: 810px;
	transform:scaleX(1.05) scaleY(1.05);
	/*position: absolute;
	left: -20px;
	top: -12px;*/
}
/*.box_ban .banner .pic a img:hover{
	transform: scale(0.95);
	transition:transform 1s linear 0s;
}*/
.box_ban .banner .pic span{
	/*display: ;*/
	width: 405px;
	height: 480px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.box_ban .banner .pic span img{
	opacity: 0;
}
.box_ban .circle{
	position: absolute;
	bottom: 10px;
	left: 50% ;
	margin-left:-40px ;
	z-index: 88;
	
}
.box_ban .circle li{
	border-radius: 50%;
	float: left;
	background: #000000;
	color: #fff;
	margin-right: 6px;
	line-height: 20px;
	height: 20px;
	text-align: center;
	width: 20px;
	font-family: arial;
}
.box_ban .circle li a{
	color: #fff;
}
.box_ban .circle li:hover{
	background:#C40000 ;
}
.box_ban .circle li.one{
	background: #C40000;
}
.box_ban .right{
	float: right;
	width: 190px;
	height: 479px;
}
.box_ban .banner .right img{
	opacity: 0.95;
	-webkit-transition: -webkit-transform 0.2s linear;
	-moz-transition: -moz-transform 0.2s linear;
	-o-transition: -o-transform 0.2s linear;
	transition: transform 0.2s linear;
}
.box_ban .banner .right img:hover{
	-webkit-transform: translateX(-5px);
	-moz-transform: translateX(-5px);
	-ms-transform: translateX(-5px);
	-o-transform: translateX(-5px);
	transform: translateX(-5px);	
}

.banner_floor .right .splice{
	border-top: 1px dotted #eee;
	height: 0;
	line-height: 0;
	display: block;
	
}
	/*左侧导航结束*/
	/*轮播导航结束*/
/*中部区域开始*/
#content{
	width: 1190px;
	margin: 0 auto;
	height: auto;
	/*border: 1px solid red;*/
	margin-bottom: 30px;
}
	/*热门品牌开始*/
#pinpai{
		overflow: hidden;
	}
#pinpai .tit{
	height: 20px;
	line-height: 20px;
	margin: 15px 0 8px;
	width: 192px;
}
#content #pinpai .con .left,#content #pinpai .con .middle,#content #pinpai .con .right{
	float: left;
	position: relative;	
}
/*#content #pinpai .con .middle{

}*/
#content #pinpai .con .middle ul{
	position: absolute;
	left: 15px;
	top: -27px;
	width: 328px;
	height: 20px;
}
#content #pinpai .con .middle ul li.one{
	border-bottom: 2px solid #000;
	font-weight: 700;
}
#content #pinpai .con .middle .wall{
	width: 806px;
	height: 326px;
	padding: 0 0px 0 4px;
	overflow: hidden;
}
#content #pinpai .con .middle .wall a{
	display: block;
	background: #fff;
	width: 132px;
	height: 80px;
	float: left;
	margin-right: 2px;
	margin-bottom: 1.5px;
	text-align: center;
	position: relative;
}
#content #pinpai .con .middle .wall a i{
	display: none;
	position: absolute;
	color: #C40000;
	top: 8px;
	right: 8px;
	width:20px;
	height: 20px;
	line-height: 20px;
}
#content #pinpai .con .middle .wall a:hover > i{
	display: block;
}
#content #pinpai .con .middle .wall a img{
	width: 90px;
	height: 45px;
	padding-top: 15px;
	
}
#content #pinpai .con .middle ul li{
	height: 15px;
	line-height: 20px;
	display: inline-block;
	margin: 0 15px;
	float: left;
}
#content #pinpai .con .middle ul li:hover{
	border-bottom: 2px solid #000;
}
#content #pinpai .con .middle ul li a{
	display: inline-block;
	
	color: #666;
	line-height: 20px;
}
#content .pinpai .con a{
	display: block;
	float: left;
}
#pinpai .con .right{
	background: #fff;
	height: 318px;
	overflow: hidden;
	padding: 4px;
	widows: 182px;
}
	/*热门品牌结束*/
	
	/*广告一就开始*/
	
	/*广告一结束*/
	.ad11{
		height: 90px;
		padding-top: 30px;
		overflow: hidden;
	}
	.ad11 .a{
		height: 90px;
		display: block;
		width: 1190px;
	}
	/*楼层开始*/
		
		/*第一层女装内衣开始*/
.floor_cont{
	height: 422px;
	overflow: hidden;
	padding-top: 30px;
	width: 1190px;
}
.floor_cont .left{
	float: left;
	width: 190px;
	height: 422px;
	position: relative;
}
#floor1 .floor_cont .left ul.tit{
	width: 190px;
	height: 90px;
	color: #FFFFFF;
	text-align: center;
	background: #F5F5F5 url(../img/f000.png) no-repeat 0 0;
	overflow: hidden;
}
.floor_cont .left ul.tit li{
	width: 30px;
	display: inline-block;
	*display: inline;    /*解决IE六和七inline-block独占一行问题*/
	zoom: 1;
	margin: 0 5px;
	text-align: center;
}
.floor_cont .left ul.tit li i{
	display: block;
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	/*width: 30px;*/
	color: #fff;
	padding-top: 20px;
	transition: transform 0.2s linear 0s;
}
.floor_cont .left ul.tit li i.iconlogo:hover{
	transform: scaleX(1.15) scaleY(1.15);
}
.floor_cont .left ul.tit li span.shu{
	display: block;
	height: 50px;
	width: 1px;
	opacity: 0.5px;
	background: url(../img/f000.png) no-repeat -95px -1340px;
	margin: auto;
}
.floor_cont .left ul.tit li a{
	color: #fff;
}
.floor_cont .left .side_pannel{
	height: 202px;
	width: 190px;
	background: #fff;
	position: relative;
}.floor_cont .left .side_pannel .pannel a:hover,.floor_cont .left .label a:hover{
	text-decoration: underline;
}
.floor_cont .left .side_box {
	width: 100px;
	height: 186px;
	margin: auto;
	position: relative;
	overflow: hidden;

}
.floor_cont .left ul.side{
	height: 186px;
	width: 400px;
	position: absolute;
	left: 0px;
	top: 0px;
		z-index: 22;
	/*overflow: hidden;*/
		/*border: 1px solid red;*/
}
.floor_cont .left .side li{
	float: left;
	height: 186px;
	width: 100px;

}
.floor_cont .left .side li a{
	display: block;
	padding: 17px 5px 0;
	width: 90px;
	height: 45px;
	text-align: center;
}
.floor_cont .left .side li img{
	
}
.floor_cont .left .side_pannel i{
	color:#ccc ;
	font-size: 25px;
	font-weight: 700;
}
.floor_cont .left .side_pannel .shang {
	position: absolute;
	top: 90px;
	left: 10px;
	opacity: 0.3;
    height: 30px;
    width: 20px;
}
.floor_cont .left .side_pannel a:hover{
	text-decoration: none;
}
.floor_cont .left .side_pannel .xia {
	position: absolute;
	top: 90px;
	right: 10px;
	opacity: 0.3;
	height: 30px;
	width: 20px;
}
.floor_cont .left .side_pannel i:hover{
	opacity: 1;
}
.floor_cont .left .label{
	background: #fafaf8;
	height: 130px;
	width: 190px;
}
.floor_cont .left .label ul{
	padding: 9px 0 9px 35px;
	overflow: hidden;
}
.floor_cont .left .label ul a{
	color: #333;
	display: inline-block;
	width: 55px;
	margin-right: 20px;
	font-weight: 700;
	white-space: nowrap;
	height: 28px;
	line-height: 28px;
}
.floor_cont .main{
	width: 1000px;
	height: 422px;
	float: left;
}
.floor_cont .main .m_1{
	float: left;
	overflow: hidden;
	width: 400px;
}
.floor_cont .main .m_2,.floor_cont .main .m_3,.floor_cont .main .m_4{
	float: left;
	overflow: hidden;
	width: 199px;
	
}
.floor_cont .main .m_2 a img,.floor_cont .main .m_3 a img,.floor_cont .main .m_4 a img,.floor_cont .left .side li img{
	-webkit-transition: -webkit-transform 0.2s linear;
	-moz-transition: -moz-transform 0.2s linear;
	-o-transition: -o-transform 0.2s linear;
	transition: transform 0.2s linear;
}
.floor_cont .main .m_2 a:hover > img,.floor_cont .main .m_3 a:hover > img,.floor_cont .main .m_4 a:hover > img,.floor_cont .left .side li a:hover > img{
	
	/*display: inline-block;*/
	-webkit-transform: translateX(5px);
	-moz-transform: translateX(5px);
	-ms-transform: translateX(5px);
	-o-transform: translateX(5px);
	transform: translateX(5px);
}
.floor_cont .main a{
	background: #fff;
	border-bottom: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	display: block;
	overflow: hidden;
}
.floor_cont .main a.up{
	width: 198px;
	height: 255px;
}
.floor_cont .main a.down{
	width: 198px;
	height: 166px;
}
.floor_cont .main a img{
	height: 100%;
	width: 100%;
}
		/*第一层女装内衣结束*/

		/*第二层美妆开始*/
#floor2 .floor_cont .left ul.tit{
	width: 190px;
	height: 90px;
	color: #FFFFFF;
	text-align: center;
	background: #F5F5F5 url(../img/f000.png) no-repeat 0 -110px;
}
.floor_cont .left ul.tit li.only{
	width: 85px;
	text-align: center;
}
/*.floor_cont .left .label.beijing{
	background: url(../img/tb2222.jpg) no-repeat;
	
}*/
		/*第二层美妆结束*/

		/*第三层男装内衣开始*/
#floor3 .floor_cont .left ul.tit{
	width: 190px;
	height: 90px;
	color: #FFFFFF;
	text-align: center;
	background: #F5F5F5 url(../img/f000.png) no-repeat 0 -220px;
}
		/*第三层男装内衣结束*/

		/*第四层鞋包开始*/
#floor4 .floor_cont .left ul.tit{
		width: 190px;
	height: 90px;
	color: #FFFFFF;
	text-align: center;
	background: #F5F5F5 url(../img/f000.png) no-repeat 0 -334px;
}		
		/*第四层鞋包结束*/

		/*第五层运动户外开始*/
#floor5 .floor_cont .left ul.tit{
	width: 190px;
	height: 90px;
	color: #FFFFFF;
	text-align: center;
	background: #F5F5F5 url(../img/f000.png) no-repeat 0 -445px;
}
		/*第五层运动户外结束*/

		/*第六层手机数码开始*/
#floor6 .floor_cont .left ul.tit{
		width: 190px;
	height: 90px;
	color: #FFFFFF;
	text-align: center;
	background: #F5F5F5 url(../img/f000.png) no-repeat 0 -556px;
}	
.floor_cont .left .label.f6{
	background: url(../img/tb6666.png) no-repeat;
	
}	
.floor_cont .left .side_pannel .pannel{
	padding: 9px 0 9px 35px;
}
.floor_cont .left .side_pannel .pannel a{
	color: #333;
	display: inline-block;
	width: 55px;
	margin-right: 20px;
	font-weight: 700;
	white-space: nowrap;
	height: 32px;
	line-height: 32px;
}
		/*第六层手机数码结束*/

		/*第七层家用电器开始*/
#floor7 .floor_cont .left ul.tit{
		width: 190px;
	height: 90px;
	color: #FFFFFF;
	text-align: center;
	background: #F5F5F5 url(../img/f000.png) no-repeat 0 -670px;
}
.floor_cont .left .label.f7{
	background: url(../img/tb7777.png) no-repeat;
	
}	
		/*第七层家用电器结束*/

		/*第八层母婴开始*/
#floor8 .floor_cont .left ul.tit{
		width: 190px;
	height: 90px;
	color: #FFFFFF;
	text-align: center;
	background: #F5F5F5 url(../img/f000.png) no-repeat 0 -786px;
}		
		/*第八层母婴结束*/

		/*第九层食品开始*/
#floor9 .floor_cont .left ul.tit{
		width: 190px;
	height: 90px;
	color: #FFFFFF;
	text-align: center;
	background: #F5F5F5 url(../img/f000.png) no-repeat 0 -892px;
}
		/*第九层食品结束*/

		/*第十层图书开始*/
#floor10 .floor_cont .left ul.tit{
		width: 190px;
	height: 90px;
	color: #FFFFFF;
	text-align: center;
	background: #F5F5F5 url(../img/f000.png) no-repeat 0 -1000px;
}		
		/*第十层图书结束*/
		
		/*第十一次家装开始*/
#floor11 .floor_cont .left ul.tit{
		width: 190px;
	height: 90px;
	color: #FFFFFF;
	text-align: center;
	background: #F5F5F5 url(../img/f000.png) no-repeat 0 -1110px;
}	
.floor_cont .left .label.f11{
	background: url(../img/tb11111.jpg) no-repeat;
	
}	
		/*第十一层家装结束*/
		
		/*第十一层超市开始*/
#floor12 .floor_cont .left ul.tit{
		width: 190px;
	height: 90px;
	color: #FFFFFF;
	text-align: center;
	background: #F5F5F5 url(../img/f000.png) no-repeat 0 -1221px;
}		
.floor_cont .left .label.f12{
	background: url(../img/tb1212.png) no-repeat;
	
}
		/*第十二层超市结束*/
			/*楼层结束*/


/*中部区域结束*/
		/*底部开始*/
#footer{
	width: 100#;
	border-top: 1px solid #d1d7dc;
	background: #fff;
	text-align: center;
	overflow: hidden;
}
#footer a:hover{
	text-decoration: underline;
}
			/*保障开始*/
#footer .bao{
	height: 100px;
	margin: 25px auto;
	width: 1190px;
}	
	/*保障结束*/
#footer .f_nav{
	border-top: 1px solid #ededed;
	padding-top: 20px;
	margin: auto;
	width: 1190px;
	height: 190px;
	background: url(../img/mail.jpg) no-repeat 45px bottom;
	/*overflow: hidden;*/
}
#footer .f_nav dl{
	float: left;
	width: 186px;
	padding-left: 52px;
	text-align: left;
}	
#footer .f_nav dt{
	color: #646464;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	font-weight: 700;
}	
#footer .f_nav a{
	color: #8b8b8b;
	display: block;
	height: 20px;
	line-height: 20px;
	width: 100px;
}
#footer .f_copy{
	border-top: 2px solid #c40000;
	background: #000000;
	width: 100%;
}
#footer .f_copy .copy{
	width: 1190px;
	margin: auto;
	padding-bottom: 20px;
	text-align: left;
	
}

#footer .f_copy .copy p.infor{
	padding: 10px 0 0 10px;
	color: #fff;
	line-height: 25px;
}
#footer .f_copy .copy p.link{
	padding: 0 0 10px 10px;
	color: #fff;
	line-height: 25px;
}
#footer .f_copy .copy p.infor a,#footer .f_copy .copy p.link a{
	color: #FFFFFF;
	margin-right: 3px;
}
#footer .f_copy .copy p.copyright{
	padding: 0 0 10px 10px;
	line-height: 20px;
	color: #a4a4a4;
}
#footer .f_copy .copy p.copyright a{
	color: #A4A4A4;
	margin-right: 65px;
}
#footer .f_copy .copy p.copyright span{
	color: #686868;
	font-weight: 400;
}
#footer .f_copy .copy .fp_img{
	padding: 0 0 20px 10px;

}	
#footer .f_copy .copy .fp_img a{
	/*display: block;*/
	margin-right: 10px;
}	
		/*底部结束*/
/*侧边左侧楼层导航开始*/
#floor_nav{
	height: 614px;
	widows: 35px;
	overflow: visible;
	position: fixed;
	left: 50%;
	top: 200px;
	margin-left: -640px;
	display: none;
}
#floor_nav a{
	display: block;
	height: 25px;
	width: 35px;
	padding: 5px 0;
	text-align: center;
	position: relative;
	
}
#floor_nav a i{
	display: block;
	font-size: 16px;
	line-height: 25px;
	color: #666;
	/*text-align: center;*/
}
#floor_nav a span.word{
	line-height: 12px;
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 22;
	height: 25px;
	padding: 5px 0;
	vertical-align: middle;
	width: 35px;

	display: none;
}
#floor_nav a span.word.h{
	display: block;
	color: #C40000;
	background: none;
}
#floor_nav a.single span.word{
	height: 35px;
	line-height: 35px;
	padding: 0;
}
#floor_nav a span.line{
	border-top: 1px solid #e5e5e5;
	width: 10px;
	line-height: 0;
	height: 0;
	display: block;
	position: absolute;
	left: 12px;
	bottom: 1px;
}
#floor_nav a:hover > span.word{
	display: block;
	color: #fff;
	background: #C40000;
}
/*侧边左侧楼层导航结束*/

/*侧边右侧导航开始*/
#right_bar_nav{
	height: 900px;
	width: 35px;
	background: #000;
	position: fixed;
	top: 0px;
	right: 0px;
	/*overflow: hidden;*/
}
#right_bar_nav i.iconlogo{
	height: 35px;
	line-height: 35px;
	color: #fff;
	font-size: 25px;
	text-align: center;	
}
#right_bar_nav .right_top{
	margin-top: 247px;
	position: absolute;
	top: 0;
	height: auto;
	width: 35px;
	/*overflow: hidden;*/
}
#right_bar_nav a{
	font-size: 12px;
	color: #fff;
	width: 25px;
	padding: 0 5px;
	display: block;
	text-align: center;
}
#right_bar_nav a.buy{
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	padding:10px 5px;
}
#right_bar_nav a.buy > span{
	display: block;
	width: 20px;
	line-height: 16px;
	height: 50px;
	text-align: center;
	padding-left: 2px;
	
}
#right_bar_nav li{
	margin: 8px 0px;
	width: 35px;	
	position: relative;
}
#right_bar_nav li:hover{
	background: #C40000;
}
#right_bar_nav .right_b{
	position: absolute;
	bottom: 0px;
	right: 0px;
}
   /*左侧小滑块开始*/
#right_bar_nav li .left_tab{
	background: #494949;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	color: #fff;
	display: none;
	line-height: 35px;
	height: 35px;
	width: 90px;
	position: absolute;
	top: -1px;
	right: 70px;
	z-index: 999;
	text-align: center;
	cursor: pointer;
	opacity: 0;
}
#right_bar_nav li .left_tab .sanjiao{
	color: #494949;
	font-size: 16px;
	font-family: '宋体';
	position: absolute;
	line-height: 16px;
	width: 16px;
	top: 10px;
	right: -8px;
}
  /*左侧小滑块结束*/
/*侧边右侧导航结束*/

/*顶部固定搜索开始*/
#fixed_top{
	position: fixed;
	top: 0px;
	left: 0;
	box-shadow: 0 0 4px #eaeaea;
	display: block;
	height: 50px;
	margin: 0 auto;
	width: 100%;
	height: 50px;
	z-index: 1000;
	display: none;
	overflow: hidden;
}
#fixed_top .opac{
	width: 100%;
	height: 50px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	background: #000;
}
/*#fixed_top .show{
	top: 0px;
}*/
#fixed_top .sou_top{
	width: 1190px;
	position: absolute;
	top: 0;
	left: 50%;
	height: 50px;
	margin-left: -595px;
	border: none;
}
#fixed_top .sou_top p{
	height: 20px;
	position: absolute;
	left:0;
	top: 17px;

	width: 150px;
	
}
#fixed_top .sou_top .ss{
	position: absolute;
	left: 227px;
	top: 10px;
	width: 740px;
	height: 30px;
	background: #fff url(../img/inputbg.gif);
	overflow: hidden;
	background: #fff;
}
#fixed_top .sou_top .ss .inp{
	height: 20px;
	line-height: 20px;
	padding: 5px 3px 5px 5px;
	width: 289px;
	font-weight: 900;
	width: 642px;
	float: left;
	font-size: 12px;

	border: none;
	background: #fff;
	color: #000000;
}
#fixed_top .sou_top .ss a{
	display: block;
	height: 30px;
	width: 90px;
	float: left;
}
#fixed_top .sou_top .ss .btn{
	width: 90px;
	border: none;
	
	font-family: "微软雅黑",arial,"宋体";
	font-size: 16px;
	letter-spacing: 4px;

	height: 30px;
	color: #fff;
	background: #C40000;
}
/*顶部固定搜索结束*/






