@charset "utf-8";
/* CSS Document */
	*{
		margin: 0;
		padding: 0;
		font-family: "Helvetica Neue",Arial,sans-serif;
	}
/*网络字体开始*/
@font-face {
	font-family:'iconfont';
	src:url('../font/iconfont.eot');
	src:url('../font/iconfont.eot?#iefix') format('embedded-opentype'),url('../font/iconfont.woff') format('woff'),url('../font/iconfont.ttf') format('truetype'),url('../font/iconfont.svg#uxiconfont') format('svg');
}
.iconfont,.iconfont:after{font-family:iconfont!important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
/*.search-bar .utils .iconfont{display:block;font-size:20px}*/
/*网络字体结束*/
	body{
		background: #fff;
	}
	a{
		text-decoration: none;
		color: #8c8c8c;
	}
	li{
		list-style: none;
	}
	img{
		border: none;
	}
	/*低版本浏览器默认会给带标签的图片加边框*/
	/*顶部广告结束*/
	input{
		border: none;
	}
	#ad{
		height: 80px;
		width: 100%;
		/*border: 1px solid #ccc;*/
		background: #F9BE00;
		text-align: center;
	}
	/*顶部广告结束*/
	/*顶部开始*/
	#top{
		width: 100%;
		height: 36px;
		background: #FAFAFA;
		/*border-bottom: 1px solid #dfdfdf;*/
	}
	#top .content{
		width: 1210px;
		height: 36px;
		/*background: #5E3AB8;*/
		margin: 0 auto;
	}
	/*顶部左侧*/
	#top .content .left{
		float: left;
		line-height: 36px;
		width: 170px;
		position: relative;
		z-index: 3;
	}
	#top .content .left a.city{
		color: #8c8c8c;
		font-size: 12px;
		padding-right: 10px;
		display:block;
		float: left;
	}
	#top .content .left span.line{
		border-left: 1px solid #dfdfdf;
		height: 12px;
		/*line-height: 36px;*/
		padding-right: 12px;
		float: left;
		margin-top: 12px;
	}
	/*顶部城市下拉菜单开始*/
	#top .content .left:hover div.city-drop-down{
		display: block;
	}
	#top .content .left .city-drop-down{
		display: none;
		position: absolute;
		left: 34px;
		top: 36px;
		border: 1px solid #dfdfdf;
		background: #fff;
		line-height: 15px;
		padding: 15px 12px;
		width: 175px;
		z-index: 99;
	}
	#top .content .left .city-drop-down ul{
		float: left;
	}
	#top .content .left .city-drop-down h3{
		color: #73adc9;
		font-size: 12px;
		font-weight: 500;
		margin-bottom: 7px;
	}
	#top .content .left .city-drop-down ul li{
		display: inline-block;
		margin: 0 23px 7px 0;
		float: left;
	}
	#top .content .left .city-drop-down ul li.no_margin{
		margin-right: 0;
	}
	#top .content .left .city-drop-down ul li a{
		font-size: 12px;
		color: #666;
		white-space: nowrap;
	}
	#top .content .left .city-drop-down ul li a:hover{
		text-decoration: underline;
		color: #73adc9;
	}
	#top .content .left .city-drop-down  a.link_more{
		/*display: block;*/
		color: #8c8c8c;
		float: right;
		font-size: 12px;
		white-space: nowrap;
	}
	/*顶部城市下拉菜单束结*/
	/*顶部左侧结束*/
	/*顶部右侧开始*/
	#top .content .right{
		float: right;
		line-height: 36px;
		width: auto;
	}
	#top .content .right li{
		float: left;
		height: 36px;
		line-height: 36px;

	}
	#top .content .right li span{
		border-left: 1px solid #dfdfdf;
		height: 12px;
		/*line-height: 36px;*/
		/*padding-right: 12px;*/
		float: left;
		margin-top: 12px;
	}
	#top .content .right li a{
		display: block;
		float: left;
		font-size: 12px;
		padding: 0 11px;
	}
	#top .content .right li a.last{
		padding-right: 0;
	}
	#top .content .right li a:hover{
		color: #73ADC9;
	}
	#top .content .right li a img{
		margin-left: 2px;
	}
	/*顶部右侧结束*/
	/*顶部结束*/
	#box{
		width: 1210px;
		/*border: 1px solid #ccc;*/
		margin: 0 auto;
		/*margin-bottom: 200px;*/
		overflow: hidden;
	}
	/*搜索区域开始*/
	/*搜索区左侧开始*/
	#box #search{
		width: 1210px;
		height: 60px;
		margin-top: 30px;
		position: relative;
	}
	#search .s_l{
		float: left;
		position: relative;
	}
	#search .s_l .logo1{
		position: absolute;
		left: 0px;
		top: 0px;
	}
	#search .s_l .logo2{
		position: absolute;
		top: -25px;
		left: 143px;
	}
	/*搜索区左侧结束*/
	/*搜索区右侧开始*/
	#search .s_r .so_t{
		position: absolute;
		top: 0px;
		left: 565px;
		border:1px solid #dfdfdf;
		color: #bbb;
		padding: 10px 16px 10px 20px;
		height: 18px;
		font-size: 14px;
		width: 407px;
	}
	#search .s_r .so{
		width: 40px;
		height: 40px;
		position: absolute;
		left: 1008px;
		top: 0px;
		border: none;
		border:1px solid #dfdfdf;
		background: url(../img/so.gif);
	}
	#search .s_r .so:hover{
		background: url(../img/so1.gif); 
		border-color: #ff4883;
	}
	#search .s_r .hot{
		height: 18px;
		line-height: 18px;
		position: absolute;
		top: 11px;
		left: 860px;
		
	}
	#search .s_r .hot li{
		float: left;
		margin-left: 5px;
		max-width: 50px;
		padding: 0 5px;
		font-size: 12px;
		background: #f0f0f0;
	}
	#search .s_r .hot li a{
		color: #3e3e3e;
	}
	#search .s_r .hot li:hover{
		background: #dfdfdf;
	}
	#search .s_r .r_icon{
		float: right;
		height: 38px;
		width: 153px;
		line-height: 24px;
		background: #FEDA50;
		border: 1px solid #EBCA4F;
	}
	#search .s_r .r_icon i{
		font-size: 20px;
		color: #404144;
		padding: 7px 15px;
		display: inline-block;
		float: left;
		height: 24px;
		line-height: 24px
		border-right: 1px solid #EBCA4F;
	}
	#search .s_r .r_icon i.iconfont .money{
		border: none;
	}
	/*搜索区右侧结束*/
	/*搜索区域结束*/
	/*导航区域开始*/
	.nav{
		height: 44px;
		width: 1210px;
	}
	.nav .left{
		width: 226px;
		height: 44px;
		background: #FF318C;
		float: left;
		line-height: 44px;
	}
	.nav .left a{
		display: block;
		padding-left: 18px;
		font:18px/44px "Microsoft YaHei";
		color: #fff;
	}
	.nav .right ul li{
		float: left;
		line-height: 44px;
		text-align: center;
		
	}
	.nav .right ul li.r_one{
		background: #080809;
	}
	.nav .right ul li:hover{
		background: #080809;
	}
	.nav .right ul li a{
		display: block;
		min-width: 86px;
		font:18px/44px "Microsoft YaHei";
		color: #fff;
		font-weight: 400;
		padding: 0 10px;
	}
	.nav .right ul li.r_last a{
		color: #999;
	}
	.nav .right ul li a i{
		padding-left: 2px;
		color: #feda4e;
		font-size: 28px;
	}
	.nav .right{
		width: 984px;
		height: 44px;
		background:#313137;
		float: left;
	}
		/*导航区域结束*/
		/*大区域开始*/
	#box .big{
		width: 1210px;
		overflow: hidden;	

	}
	#box .big .item{
		float: left;
		/*height: 414px;*/
		width: 224px;
		border-left: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
		border-right: 1px solid #dfdfdf;
		overflow: hidden;
		/*background: #3087EF;*/
	}
/*	#box .big .item ul{
		padding: 0 20px;
		width: 184px;
		height: 51px;
		overflow: hidden;
	}*/
	#box .big .item ul li{
		text-align: right;
		padding: 0 20px;
		width: 184px;
		height: 51px;
		overflow: hidden;
		border-bottom: 1px solid #dfdfdf; 
		background: #f9f9f9;
	}
	#box .big .item ul li:hover{
		background: #fff;
	}
	#box .big .item ul li span{
		float: left;
		max-width: 94px;
		/*text-align: left;*/
		/*padding-right: 18px;*/
		line-height: 50px;
		font-size: 16px;
		font-weight: 700;
		color: #333;
	}
	#box .big .item ul li span:hover{
		color: #FF4883;
	}
	#box .big .item ul li a{
		font-size: 12px;
		color: #999;
		line-height: 50px;
		margin-left: 11px;
		font-family: "Microsoft YaHei";
	}
	#box .big .item ul li a:hover{
		text-decoration: underline;
		color: #005AA0;
	}
	/*大区域左侧结束*/
	#box .big .banner{
		width: 738px;
		/*height: 414px;*/
		float: left;
		overflow: hidden;
	}
	#box .big .banner .b-1{
		width: 738px;
		height: 259px;
	}
	#box .big .banner .b-2 dl{
		height: 97px;
		width: 205px;
		/*background: #5FBBF6;*/
		float: left;
		border-right: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
		padding: 28px 10px 30px 30px;
		overflow: hidden;
		position: relative;
	}
	#box .big .banner .b-2 dl i{
		position: absolute;
		right: 25px;
		top: 102px;
		color: #666;
		font-size: 6px;

	}
	/*#box .big .banner .b-2 dl .cont{
		height: 52px;
		line-height: 26px;
		overflow: hidden;
	}*/
	#box .big .banner .b-2 dl dt{
		color: #333;
		font-size: 18px;
		font-weight: 700;
		line-height: 22px;
		padding-right: 20px;
		text-align: center;
		margin-bottom: 16px;
	}
	#box .big .banner .b-2 dl dd{
		display:inline-block;
		float: left;
		padding-right: 20px;
		height: 26px;
		line-height: 26px;

	}
	#box .big .banner .b-2 dl a{
		color: #7b7b7b;
		font-size: 12px;
		font-family: "Microsoft Yahei";
		display:inline-block;
		white-space:nowrap;
		float: left;
		/*height: 26px;*/
		/*line-height: 26px;*/
	}
	#box .big .banner .b-2 dl span a{
		color: #ff4883;
	}
	#box .big .banner .b-2 dl dd a:hover{
		text-decoration: underline;
		color: #005AA0;
	}
	#box .big .r-ad{
		float: right;
		width: 246px;
		/*height: 414px;*/
		overflow: hidden;
	}
	#box .big .r-ad1{
		height: 259px;
		width: 246px;
		float: right;
		/*background: #FFC536;*/
	}
	#box .big .r-ad2{
		width: 245px;
		height: 155px;
		float: right;
		border-right: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
	}
/*大区域结束*/

/*下部区域开始*/
/*下部左侧开始*/
#left{
	width: 964px;
	float: left;
	overflow: hidden;
	/*margin-bottom: 200px;*/
}
/*精品选择开始*/
#left .jingpin{
	width: 964px;
	height: 390px;
	/*background: #D2D9E7;*/
	/*margin: 20px 0 0 0;*/
}
#left .jingpin .tit .jp_left{
	float: left;
	height: 40px;
	padding-top: 20px;
}
#left .jingpin .tit .jp_left a{
	font-size: 20px;
	line-height: 40px;
	color: #000;
	font-family: "Helvetica Neue",Arial,sans-serif;
	float: left;
}
#left .jingpin .tit .jp_left span{
	color: #999;
	margin: 13px 0 0 5px;
	font-size: 16px;
	line-height: 22px;
	float: left;
}
#left .jingpin .tit .jp_right{
	float: right;
	margin-top: 8px;
	padding-top: 20px;
	line-height: 32px;
}
#left .jingpin .tit .jp_right a{
	font-size: 12px;
	color: #666;
}
/*精品选择结束*/
/*楼层开始*/


/*推荐开始*/

/*右侧切换开始*/
#left .tuijian .today{
	height: 25px;
	float: right;
	margin-right: 5px;
}
#left .tuijian .today a{
	display: block;
	float: left;
	height: 23px;
	width: 31px;
	border: 1px solid #b7b7b7;
	line-height: 23px;
}
#left .tuijian .today a.first{
	border-right: none;
	background: url(../img/deep-arrow-left.png) no-repeat 12px 5px;
}
#left .tuijian .today a.last{
	background: url(../img/deep-arrow-right.png) no-repeat 12px 5px;
}
/*右侧切换结束*/


#left .tuijian, #left .movie{
	width: 964px;
	/*height: 365px;*/
	height: auto;
	overflow: hidden;
	margin-top: 20px;
	/*border-bottom: 1px solid #dfdfdf;*/
}
#left .tuijian .header{
	height: 27px;
	line-height: 27px;
	padding: 6px 0 0 0;
	color: #666;
}
#left .tuijian .header h3{
	float: left;
	margin-left: 6px;
}


/*楼层字体美食开始*/

/*@font-face {
	font-family: meishi;
	src: url(../font/iconfont.woff);
}*/
.iconMeishi {
	/*font-family: meishi;*/
	font-family: iconfont;
	font-size: 20px;
	float: left;
	font-style: normal;
	margin-left: 2px;

}
/*楼层字体美食结束*/


#left .tuijian .header ul{
	float: right;
	height: 27px;
	width: auto;
	line-height: 27px;
	overflow: hidden;
}
#left .tuijian .header ul li{
	float: left;

}
#left .tuijian .header ul li a{
	display:block;
	font-size: 12px;
	color: #767676;
	height: 15px;
	line-height:27px;
	padding: 0 18px;
	float: left;
}
#left .tuijian .header ul li a.last{
	padding-right: 6px;
}
#left .tuijian .header ul li span{
	border-left: 1px solid #dfdfdf;
	display:inline-block;
	margin-top: 8px;
	height: 14px;
	line-height: 27px;

}
#left .tuijian .border{
	height: 298px;
	width: 226px;
	padding: 4px;
	/*overflow: hidden;*/
	border: 1px solid #fff;
	float: left;
	margin: 4px 0 40px 6px;
	position: relative;
}
#left .tuijian .border .border_bottom{
	border-bottom: 1px solid #dfdfdf;
	bottom: -20px;
	left: 0;
	position: absolute;
	width: 120%;
}
#left .tuijian .border:hover{
	border: 1px solid #ff4883;
}
#left .tuijian .border.one{
	margin-left: 0;
}
#left .tuijian .tui{
	width: 224px;
	/*height: 294px;*/
	/*background: #A300A9;*/
	position: relative;
}
#left .tuijian .tui .border_box{
	width: 224px;
	height: 135px;
	border: 1px solid #dfdfdf;
	overflow: hidden;
}
#left .tuijian .tui .border_box img{
	width: 224px;
	height: 135px;
}
#left .tuijian .tui h4{
	height: 25px;
	line-height: 25px;
	margin-top: 10px;
}
#left .tuijian .tui p{
	color: #666;
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	font-size: 12px;
}
#left .tuijian .tui p:hover{
	text-decoration: underline;
	color: #005aa0;
}
#left .tuijian .tui .free{
	position: absolute;
	left: 0;
	top: 0;
}
#left .tuijian .tui .youhui span{
	background: #ff4883;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	height: 18px;
	line-height: 18px;
	margin-right: 5px;
	padding: 0 2px;
	font-size: 12px;
}

#left .tuijian .tui .youhui span.phone{
	background: #ff7900
}
#left .tuijian .tui .youhui.iconfont.i_phone{
	font-size: 16px;
	color: #fff;
}
#left .tuijian .tui .price .now_price span{
	font-size: 16px;
	margin-right: 5px;

}
#left .tuijian .tui .price .now_price{
	color: #ff4883;
	font-size: 24px;
	position: absolute;
	top: 240px;
	left: 2px;
}
#left .tuijian .tui .price .old_price{
	color: #9e9e9e;
	line-height: 13px;
	font-size: 12px;
	height: 13px;
	position: absolute;
	top: 248px;
	left: 52px;
}
#left .tuijian .tui .price .old_price span{
	text-decoration: line-through;
}
#left .tuijian .tui .fen{
	color: #005aa0;
	font-size: 12px;
	line-height: 23px;
	position: absolute;
	top: 275px;
	left: 5px;
}
#left .tuijian .tui .sold{
	color: #9e9e9e;
	font-size: 12px;
	line-height: 23px;
	position: absolute;
	top: 275px;
	right: 2px;
}
#left a.check_all{
	background: #f5f5f5;
	border: 1px solid #dfdfdf;
	color: #767676;
	display: block;
	height: 35px;
	font-size: 12px;
	line-height: 35px;
	text-align: center;
}
#left a.check_all img{
	margin-left: 5px;
	position: relative;
	top: 2px;
}
#left a.check_all:hover{
	color: #005aa0;
	text-decoration: underline;
}
/*推荐结束*/
/*电影开始*/
#left .movie .m{
	width: 226px;
	height: 294px;
	background: #2F8BF0;
	margin-left: 19px;
	float: left;
}
#left .movie .m.one{
	margin-left: 0;

}
/*电影结束*/


/*楼层结束*/

/*下部左侧结束*/

/*下部右侧开始*/
#right{
	width: 226px;
	float: right;
	overflow: hidden;
	
}
#right h2{
	color: #444;
	font-size: 20px;
	font-weight: 700;
	height: 40px;
	line-height: 40px;
	padding-top: 20px;
}
#right .zhuanji{
	border: 1px solid #dfdfdf;
	border-bottom: none;
	width: 224px;
	overflow: hidden;
	}
#right .zhuanji .z_1{
	width: 224px;
	height: 135px;
	border-bottom: 1px solid #dfdfdf;
	position: relative;
	overflow: hidden;
}
#right .zhuanji .z_1 h3{
	color: #444;
	font-size: 16px;
	font-weight: 700;
	height: 16px;
	line-height: 20px;
	position: absolute;
	top: 19px;
	left: 17px;
}
#right .zhuanji .z_1 h3:hover{
	color: #ff4883;
}
#right .zhuanji .z_1 p{
	color: #8c8c8c;
	font-family: inherit;
	font-size: 12px;
	line-height: 20px;
	position: absolute;
	top: 44px;
	left: 17px;

}
#right .zhuanji .z_1 span{
	color: #8c8c8c;
	font-family: inherit;
	font-size: 12px;
	line-height: 20px;
	position: absolute;
	top: 104px;
	left: 17px;
}
#right .zhuanji .z_1 img{
	position: absolute;
	left: 112px;
	top: 14px;
}
#right .shop{
	border: 1px solid #dfdfdf;
	margin-top: 20px;
}
#right .shop img{
	width: 224px;
	height: 110px;
}
/*排行榜开始*/
#right .sidebar{
	width: 224px;
	border: 1px solid #dfdfdf;
	margin-top:20px;
	overflow: hidden;
}
#right .sidebar h3{
	border-bottom: 1px solid #dfdfdf;
	padding: 0 15px;
	font-size: 20px;
	font-weight: 700;
	width: 224px;
	height: 51px;
	line-height: 51px;
	color: #444;
	position: relative;
}
#right .sidebar h3 a{
	display: block;
	height: 17px;
	width: 17px;
	background: url(../img/refresh.png) no-repeat 0 0;
	position: absolute;
	top: 17px;
	left: 195px;
}
#right .sidebar h3 a:hover{
	background-position: 0 -30px;
}

#right .sidebar .nav ul{
	margin-left: 20px;
	position: relative;
	width: 204px;
	/*overflow: hidden;*/
}
#right .sidebar .nav ul li{
	font-family: inherit;
	font-size: 12px;
	color: #b4b4b4;
	float: left;
}
#right .sidebar .nav ul li a{
	text-align: center;
	margin-right: 12px;
	display: block;
	height: 32px;
	line-height: 32px;
	border-top: 1px solid #dfdfdf;
	position: relative;
	top: -1px;
	width: 37px;
}
#right .sidebar .nav ul li a:hover{
	border-top: 1px solid #ff4883;
	color: #ff4883;
}
#right .sidebar .nav ul .link_more{
	background: #f5f5f5;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	width: 15px;
	z-index: 10;
}
#right .sidebar .nav ul .link_more span{
	background: url(../img/deep-arrow-right.png) no-repeat;
	display: inline-block;
	margin: 10px 0 0 7px;
	width: 10px;
	height: 12px;
}
#right .sidebar .list{
	width: 224px;
	overflow: hidden;
}
#right .sidebar .list li{
	border-bottom: 1px solid #dfdfdf;
	padding: 15px;
	position: relative;
	width: 194px;
	height: 79px;
}
#right .sidebar .list li img{
	height: 77px;
	width: 100px;
	position: absolute;
	top: 15px;
	left: 15px;
}
#right .sidebar .list li h4{
	color: #444;
	font-size: 13px;
	font-weight: 500;
	width: 85px;
	height: 16px;
	line-height: 20px;
	overflow: hidden;
	position: absolute;
	top: 14px;
	left: 124px;
}
#right .sidebar .list li:hover h4{
	color: #ff4883;
}
#right .sidebar .list li p{
	color: #878787;
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	width: 85px;
	position: absolute;
	top: 34px;
	left: 124px;
	font-family: inherit;
	font-size: 12px;
}
#right .sidebar .list li span.price{
	color: #ff4883;
	font-size: 12px;
	position: absolute;
	left:124px;
	top: 75px;
	height: 15px;
	line-height: 20px;
}
#right .sidebar .list li span.old_price{
	color: #b4b4b4;
	padding-left: 10px;
	text-decoration: line-through;
}
#right .sidebar .list li .ranknum{
	background: #ff4883;
	color: #fff;
	font-size: 18px;
	height: 28px;
	width: 28px;
	line-height: 28px;
	position: absolute;
	right: -1px;
	bottom: 0px;
	text-align: center;
}
/*排行榜结束*/
/*下部右侧结束*/
/*下部区域结束*/

/*底部导航区域开始*/
#con_bottom{
	width: 962px;
	border: 1px solid #dfdfdf;
	margin-top: 35px;
	color: #949494;
}
#con_bottom ul.tab_nav{
	border-bottom: 1px solid #dfdfdf;
	overflow: hidden;
}
#con_bottom ul.tab_nav li{
	float: left;
}
#con_bottom ul.tab_nav li a{
	border-right: 1px solid #dfdfdf;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	padding: 0 24px;
	display: block;
}
#con_bottom ul.tab_nav li a:hover{
	background: #f5f5f5;
	height: 30px;
	position: relative;
	top:1px;
	margin-top: -1px;
	border-bottom: 1px solid #f5f5f5;

}
#con_bottom .bottom_content{
	background: #f5f5f5;
	padding: 20px;
	color: #666;
}
#con_bottom .bottom_content li{
	display: inline-block;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	width: 180px;
	font-size: 12px;
}
/*底部导航区域结束*/
/*底部开始*/
#foot{
	width: 100%;
	/*overflow: hidden;*/
	/*height: 250px;*/
	background: #fafafa;
	margin-top: 105px;
	border-bottom: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
		
}
#foot .cont{
	width: 1210px;
	height: 150px;
	margin: 0 auto;
	padding: 50px 0;
}
#foot .cont dl{
	float: left;
	border-right: 1px solid #dfdfdf;
}
#foot .cont .con1{
	width: 15%;
	text-align: left;
}
#foot .cont .con2{
	width: 20%;
	text-align: center;
}
#foot .cont .con3{
	width: 24%;
	text-align: center;
}
#foot .cont dl dt,#foot .cont dl dt h3{
	color: #444;
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: 500;
}
#foot .cont dl dd a{
	color: #666;
	
}
#foot .cont dl dd{
	margin-bottom: 9px;
	font-size: 14px;
}
#foot .cont dl dd a:hover{
	color: #005aa0;
	text-decoration: underline;
}
#foot .cont .con3 a{
	background: #ff4883;
	display: block;
	font-size: 14px;
	height: 35px;
	line-height: 35px;
	margin: 20px auto 0;
	width: 160px;
	color: #fff;
}
.copyright{
	margin-top: 35px;
	text-align: center;
	color: #666;
	font-size: 12px;
}
.copyright a{
	padding: 0 11px;
	color: #666;
}

.icons{
	width: 630px;
	margin: 0 auto ;
	text-align: center;
	height: 42px;
	margin-top: 18px;
}
.icons div{
	height: 40px;
	margin-right: 8px;
	float: left;
}
.icons .baidu{
	width: 262px;
	background: url(../img/b.png) no-repeat -702px -13px;
}
.icons .zfb{
	width: 123px;
	background: url(../img/b.png) no-repeat -841px -56px;
}
.icons .kexin{
	background: url(../img/b.png) no-repeat -854px -99px;
	width: 110px;
}
.icons .trust{
	background: url(../img/b.png) no-repeat -861px -142px;
	width: 103px;
}
/*底部结束*/