@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	font-family: Arial,Verdana,"宋体";
	font-size: 12px;
	list-style: none;
}
body{
		/*padding-bottom: 500px;*/
		background: #fff;
		color: #666;
	}
input{
	border: 0;
}
img{
	border: 0;
}
a{
	text-decoration: none;
	color: #666;
	font-size: 12px;
}
/*顶部导航区域*/
#top{
	width: 100%;
	height: 30px;
	background: #f1f1f1;
}
#top .top_box{
	width: 1210px;
	height: 30px;
	/*border: 1px solid red;*/
	margin: 0 auto;
}
/*顶部导航左侧*/
#top .top_box .left {
	width: 80px;
	height: 30px;
	padding: 0 10px 0 10px;
	display: block;
	line-height: 30px;
	color: #666;
	float: left;
	position: relative;
	color: #666;
}
#top .top_box .left .xiala{
	color: #6a6a6a;
	font: 400 15px/15px consolas;
	height: 7px;
	overflow: hidden;
	display: block;
	position: absolute;
	top: 12px;
	right: 8px;
	transition: transform 0.1s ease-in 0s;
	/*padding-right: 5px;*/
	/*margin-top: 10px;*/
	/*float: right;*/

}
#top .top_box .left:hover>.xiala{
	transform: rotate(180deg);	
}
#top .top_box .left:hover{
	background: #fff;
	height: 30px;
}
#top .top_box .left:hover>.drop_down{
	display: block;
}
/*下拉开始*/
#top .top_box .left .drop_down{
	padding: 10px 0 10px 10px;
	width: 301px;
	background: #fff;
	border: 1px solid #ddd;
	border-top: none;
	position:absolute ;
	top: 30px;
	left: 0px;
	z-index: 33;
	display: none;
}
#top .top_box .left .drop_down li{
	float: left;
	padding: 2px 0;
	width: 60px;
	height: 24px;
	line-height: 24px;
	text-align: left;
}
#top .top_box .left .drop_down li a.first{
	background: #c81623;
	color: #fff;
}
#top .top_box .left .drop_down li a{
	padding: 8px 8px;
	color: #666;
	/*display: block;*/
	text-align: center;
	background: #fff;
	line-height: 24px;
}
#top .top_box .left .drop_down li a:hover{
	background: #f4f4f4;
	color: #c81623;
}
#top .top_box .left .drop_down li a.first:hover{
	background: #C81623;
	color: #fff;
}
/*下拉结束*/
/*顶部导航左侧结束*/
/*顶部导航右侧部分开始*/
#top .top_box .right{
	height: 30px;
/*	border: 1px solid blue;*/
	float: right;
	line-height: 30px;
	color: #666;


}
#top .top_box .right li{
	display: block;
	float: left;
	height: 30px;
	padding: 0 8px;
	color: #666;
	position: relative;
	/*overflow: hidden;*/
}
#top .top_box .right li.zhan> a{
	padding-right: 20px;
}
/*?????????????????????????????????*/
#top .top_box .right li i.xiala{
	display: block;
	color: #6A6A6A;
	font: 400 15px/15px consolas;
	height: 7px;
	overflow:hidden;
	right: 8px;
	top: 12px;
	/*padding-left: 5px;*/
	/*margin-top: 10px;*/
	/*float: right;*/
	position: absolute;
	transition: transform 0.1s ease-in 0s;
}
/*登陆*/
#top .top_box .right .loading{
	color: #c81623;
	padding-right: 7px;	
	font-weight: 700;
	
}
/*京东手机*/
#top .top_box .right li.zhan .icon{
	display: block;
	width: 15px;
	height: 20px;
	line-height: 30px;
	background: url(../img/shouji.png) no-repeat 0 0;
	float: left;
	position: relative;
	top: 5px;
	padding-right: 2px;
}
/*分隔符*/
#top .top_box .right span.space{
	width: 1px;
	height: 12px;
	/*padding: 0px;*/
	/*margin-top: 9px;*/
	background: #DDD;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	top: 9px;
	right: -1px;
}
#top .top_box a:hover{
	color: #c81623;
}
#top .right li:hover>.xiala{
	transform: rotate(180deg);
}
#top .right li:hover{
	background: #fff;
	
}
#top .right li:hover>a{
	color: #666;
}
#top .right li .phone{
	height: 195px;
	width: 250px;
	position: absolute;
	display: none;
	top: 30px;
	left: 0px;
	background: #FFFFFF url(../img/phone.png) no-repeat;
	border: 1px solid #ddd;
	border-top:none ;
	z-index: 32;
}
#top .right li.shouji:hover> .phone{
	display: block;
}
#top .right li .care{
	position: absolute;
	top: 30px;
	left: 0px;
	width: 84px;
	background: #fff;
	padding-bottom: 8px;
	display: none;
	border: 1px solid #ddd;
	border-top:none ;
}
#top .right li.guanzhu:hover> .care{
	display: block;
}
#top .right li .serves{
	width: 84px;
	position: absolute;
	top: 30px;
	left: 0px;
	border: 1px solid #ddd;
	border-top:none ;
	background: #fff;
	z-index: 33;
	display: none;
}
#top .right li.fuwu:hover> .serves{
	display: block;
}
#top .right li .serves a{
	display: block;
	padding-left: 15px;
	line-height: 24px;
	height: 24px;
}
#top .right li .down_nav{
	width: 1210px;
	padding: 20px 0 16px;
	position: absolute;
	top: 30px;
	right: 0;
	display: none;
	border: 1px solid #ddd;
	border-top: none;
	background: #FFFFFF;
	z-index: 33;
}
#top .right li .down_nav .fore{
	padding-left: 20px;
	float: left;
	border-left: 1px solid #ddd;
	line-height: 24px;
	width: 259px;
}
#top .right li .down_nav .fore dt{
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 6px;
}
#top .right li .down_nav .fore .con dd{
	width: 86px;
	float: left;
}
#top .right li .down_nav .fore1{
	width: 347px;
	border-left: none;
}
#top .right li.wzdh:hover> .down_nav{
	display: block;
}
/*顶部导航右侧部分结束*/
/*顶部导航区域结束*/

/*顶部广告开始*/
#ad_top{
	width: 100%;
	height: 80px;
	background: #cdcdcd;
}
#ad_top a{
	width: 1210px;
	height: 80px;
	display: block;
	margin: 0 auto;
}
#ad_top img{
	border: none;
}
/*顶部广告结束*/

/*搜索区域开始*/
/*左侧logo*/
#search_box{
	width: 1210px;
	height: 100px;
	/*border: 1px solid blue;*/
	margin: 0 auto;
	position: relative;
}
#search_box .logo{
	display: block;
	width: 270px;
	height: 60px;
	background: url(../img/logo.png);
	position: absolute;
	top: 20px;
	left: 0px;
}
/*左侧logo结束*/
/*中部搜索*/
#search_box .search{
	width: 538px;
	height: 39px;
	/*border: 1px solid red;*/
	position: absolute;
	left: 362px;
	top: 25px;
}
#search_box .search .keyword{
	width: 447px;
	height: 24px;
	border: 2px solid #b61d1d;
	border-right: 0px;
	line-height: 24px;
	font-size: 14px;
	padding: 4px;
	float: left;

}
#search_box .search .sub{
	font-family: "Microsoft YaHei";
	background: #b61d1d;
	color: #fff;
	font-size: 16px;
	height: 35px;
	width: 81px;
	float: left;
}
#search_box .hotword ul{
	width: 518px;
	height: 20px;
	float: left;
	position: absolute;
	top: 65px;
	left: 362px;
}
#search_box .hotword ul li{
	float: left;
	padding-right: 10px;
	line-height: 20px;
}
#search_box .hotword ul .hotred{
	color: #c81623;
}
#search_box .hotword ul li:hover{
	color: #c81623;
}
/*中部搜索结束*/
/*右侧购物车开始*/
#search_box .shop{
	width: 139px;
	height: 34px;
	position: absolute;
	top: 25px;
	right: 65px;
	border: 1px solid #dfdfdf;
	background: #f9f9f9 url(../img/shouji.png) no-repeat 17px -50px;
}
#search_box .shop p{
	width: 139px;
	height: 34px;
	line-height: 34px;
	text-indent: 40px;

}
#search_box .shop p span{
	padding-left: 20px;
}
/*右侧购物车结束*/
/*搜索区域结束*/

/*导航条开始*/
#nav{
	width: 100%;
	height: 44px;
	font-size: 15px;
	border-bottom: 2px solid #b1191a;
}
#nav .nav_w{
	width: 1210px;
	height: 44px;
	margin: 0 auto;
/* */
}
	/*导航条左侧*/
#nav .nav_w .shangpin{
	width: 210px;
	height: 44px;
	background: #b1191a;
	position: relative;
	float: left;
}
#nav .nav_w .shangpin a{
	color: #fff;
	width: 190px;
	height: 44px;
	line-height: 44px;
	display: block;
	padding: 0 10px;
	font: 400 15px/44px "microsoft yahei";


}
	/*导航条左侧结束*/

	/*导航条中部*/
#nav .nav_w .navitem{
	float: left;
	position: relative;

}
#nav .nav_w .navitem li{
	float: left;
}
#nav .nav_w .navitem li a{
	display: block;
	color: #333;
	font-size: 15px;
	font-family: "microsoft yahei";
	padding: 0 20px;
	text-align: center;
	line-height: 44px;
	float: left;   /*ie6bug*/
}
#nav .nav_w .navitem li a:hover{
	color: #c81623;
}
	/*导航条中部结束*/

		/*导航条右侧广告*/
#nav .ad{
	width: 140px;
	height: 44px;
/*	border: 1px solid red;*/
	float: right;
	position: relative;
}
#nav .ad a{
	display: block;
	width: 140px;
	height: 44px;
	background: url(../img/ad2.jpg) no-repeat;
	float: right;
}
	/*导航条右侧广告结束*/

/*导航条结束*/

/*中间大区域开始*/
#big{
	width: 1210px;
	height: 466px;
	margin: 0 auto;
/*	border: 1px solid #b61d1d;*/
	position: relative;
}
/*左侧导航开始*/
#big .left{
	margin-top: 0px;
	width: 208px;
	height: 465px;
	float: left;
	border: 1px solid #b61d1d;
	position: relative;

}
#big .left .item> li{
	height: 31px;
	width: 210px;
	font-family: "microsoft yahei";
	font-size: 14px;
	background: #C81623;
	/*position: relative;*/
	float: left;
	display: inline;  /*ie6bug*/
}

#big .left .item  li> p{
	display: block;
	padding-left: 10px;
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #fff;
	height: 31px;
	width: 200px;
	line-height: 31px;
	float: left;
	position: relative;
	z-index: 23;
}
#big .left .item li > p span{
	display: block;
	width: 4px;
	height: 31px;
	line-height: 31px;
	float: right;
	text-align: right;
	position: relative;
	top: 1px;
	right: 14px;
	z-index: 2;
}
#big .left .item li> p:hover{
	background: #fff;
	color: #b61d1d;
}
#big .left .item li >p:hover >span{
	color: #fff;
} 

		/*左侧二级开始*/
#big .left .item >li:hover >.side_nav{
	display: block;
}
#big .left .side_nav{
	width: 998px;
	height: 424px;
	overflow: hidden;
	padding: 20px;
	border: 1px solid #b61d1d;
	display: none;
	position: absolute;
	top: -1px;
	left: 208px;
	z-index: 20;
	background: #f7f7f7 ;
}
#big .left .side_nav .channel{
	height: 25px;
	overflow: hidden;
	
}
#big .left .side_nav .channel li{
	height: 25px;
	line-height: 25px;
	margin-right: 10px;
	float: left;
}	
#big .left .side_nav .channel li a{
	display: block;
	color: #fff;
	background: #7e7171;
	line-height: 25px;
	padding: 0 10px 0 8px;
	float: left;
}
#big .left .side_nav .channel li span{
	height: 25px;
	width: 24px;
	color: #fff;
	background: #5c5251;
	float: left;
	text-align: center;
}
#big .left .side_nav .channel li:hover >a{
	background: #c81623;
}
#big .left .side_nav .channel li:hover >span{
	background: #b1191a;
}	
#big .left .side_nav .con{
	/*height: 60px;*/
	width: 710px;
	float: left;

}
#big .left .side_nav .con p.tit{
	width: 72px;
	/*height: 60px;*/
	float: left;
	text-align: right;
	padding: 8px 17px 0 0;
}
#big .left .side_nav .con p.tit span{
	display: inline-block;
	padding-right: 13px;
	color: #666;
	font-weight: 700;
	font-size: 12px;
	line-height: 20px;
}
#big .left .side_nav .con p.c{
	float: left;
	width: 620px;
	/*height: 48px;*/
	padding: 6px 0;
	line-height:24px ;
		border-bottom: 1px solid #e0e0e0;
}
#big .left .side_nav .con p.c a{
	line-height: 16px;
	height: 16px;
	margin: 4px 0;
	padding: 0 8px;
	white-space: nowrap;
	border-left: 1px solid #e0e0e0;
}
#big .left .side_nav .con p.c a:hover{
	color: #c81623;
}
#big .left .side_nav .r_pic1{
	width: 168px;
	margin-bottom: 10px;
	position: absolute;
	right: 20px;
	top: 20px;
}
#big .left .side_nav .r_pic1 img{
	float: left;
}
#big .left .side_nav .r_pic2{
	width: 168px;
	position: absolute;
	top: 170px;
	right: 20px;
}
		/*左侧二级结束*/
/*左侧导航结束*/

/*中间轮播开始*/
#big .banner{
	width: 730px;
	height: 454px;
	margin: 12px 0 0 10px;
	background: #fff ;
	position: relative;
	float: left;
	overflow: hidden;
}
#big .banner img{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
#big ul.circle{
	overflow: hidden;
	position: absolute;
	bottom: 6px;
	left: 330px;
	z-index: 19;			
}
#big ul.circle li{
	list-style: none;
	border-radius: 50%;
	height: 20px;
	line-height: 20px;
	width: 20px;
	margin-right: 6px;
	text-align: center;
	background: #000000;
	float: left;
	color: #fff;
}
.btn{
	width: 30px;
	height: 62px;
	line-height: 62px;
	font-size: 24px;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	/*display: none;*/
	background: #000;
	opacity: 0.2;
	filter: alpha(opacity=20);
	color:#fff ;
	position: absolute;
	top:50%;
	margin-top: -30px;
}
.btn_l{
	/*top: 200px;*/
	left: 10px;
}
.btn_r{
	right: 10px;
}	
#big .banner:hover > a.btn {
	display: block;	
	}	
/*中间轮播结束*/

/*右侧开始*/
#big .right{
	width: 250px;
	height: 454px;
	color: #666;
	float: right;
	position: relative;
	margin-top: 12px;
	border: 1px solid #e8e8e7;
	overflow: hidden;
}
/*京东新闻开始*/
#big .right .news{
	width: 248px;
	height: 200px;
	float: left;
	position: relative;
}
#big .right .news .news_name{
	height: 43px;
	line-height: 43px;
	padding: 0 15px;
	border-bottom: 1px dotted #e8e8e7;
}
#big .right .news .news_name h2{
	font-size: 16px;
	font-family: "microsoft yahei";
	float: left;
}
#big .right .news .news_name a{
	font-family: consolas;
	font-size: 12px;
	float: right;
}
#big .right .news .news_tittle{
	height: 140px;
	padding: 8px 0 0 15px;
	overflow: hidden;
}
#big .right .news .news_tittle li{
	height: 27px;
	line-height: 27px;
	overflow: hidden;
	width: 210px;	
}
#big .right .news .news_tittle li span{
    font-weight: 700;
    padding-right: 5px;
}
#big .right .news .news_tittle li a:hover{
	color: #c81623;
}
/*京东新闻结束*/
/*生活服务开始*/
#big .right .lifeserv{
	width: 250px;
	height: 253px;
	float: left;
	position: relative;
	overflow: hidden;
}
#big .right .lifeserv .name{
	height: 43px;
	line-height: 43px;
	padding: 0 15px;
	border-top: 1px dotted #e8e8e7;
	border-bottom: 1px solid #e8e8e7;
}
#big .right .lifeserv .name h2{
	float: left;
	font-size: 16px;
	font-family: "microsoft yahei";
}
#big .right .lifeserv .tittle{
	height: 209px;
	width: 260px;
	overflow: hidden;
	position: relative;
}
#big .right .lifeserv .tittle li{
	border-bottom: 1px solid #e8e8e7;
	border-right: 1px solid #e8e8e7;
	display: inline;
	float: left;
	height: 70px;
	overflow: hidden;
	width: 62px;
	position: relative;
}
#big .right .lifeserv .tittle li a{
	display: block;
	height: 28px;
	width: 62px;
	line-height: 28px;
	text-align: center;
	padding-top: 41px;
	color: #666;
}
#big .right .lifeserv .tittle .pic{
	height: 25px;
	width: 25px;
	background: url(../img/icon_lifeserv.png) no-repeat 0 0;
	position: absolute;
	top: 13px;
	left: 18px;
}
#big .right .lifeserv .tittle .pic.jipiao{
	background: url(../img/icon_lifeserv.png) no-repeat 0 -25px;
}
#big .right .lifeserv .tittle .pic.dianying{
	background: url(../img/icon_lifeserv.png) no-repeat 0 -50px;
}
#big .right .lifeserv .tittle .pic.youxi{
	background: url(../img/icon_lifeserv.png) no-repeat 0 -75px;
}
#big .right .lifeserv .tittle .pic.caipiao{
	background: url(../img/icon_lifeserv.png) no-repeat 0 -100px;
}
#big .right .lifeserv .tittle .pic.tuangou{
	background: url(../img/icon_lifeserv.png) no-repeat 0 -125px;
}
#big .right .lifeserv .tittle .pic.jiudian{
	background: url(../img/icon_lifeserv.png) no-repeat 0 -150px;
}
#big .right .lifeserv .tittle .pic.shuidian{
	background: url(../img/icon_lifeserv.png) no-repeat 0 -175px;
}
#big .right .lifeserv .tittle .pic.zhongchou{
	background: url(../img/icon_lifeserv.png) no-repeat 0 -250px;
}
#big .right .lifeserv .tittle .pic.baoxian{
	background: url(../img/icon_lifeserv.png) no-repeat 0 -275px;
}
#big .right .lifeserv .tittle .pic.licai{
	background: url(../img/icon_lifeserv.png) no-repeat 0 -200px;
}
#big .right .lifeserv .tittle .pic.baitiao{
	background: url(../img/icon_lifeserv.png) no-repeat 0 -225px;
}
/*生活服务结束*/
/*右侧结束*/
/*中间大区域结束*/

/*轮播广告开始*/
#banner_ad{
	width: 1210px;
	height: 164px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
	/*border: 1px solid blue;*/
}
	/*京东时间开始*/
#banner_ad .jd_clock{
	width: 210px;
	height: 151px;
	float: left;
	background: url(../img/homebg.png) -213px -136px;
}
	/*京东时间结束*/

	/*右侧轮播广告开始*/
#banner_ad .ad_wf{
	width: 999px;
	height: 164px;
	float: left;
	overflow: hidden;
	position: relative;
}
#banner_ad .ad_wf ul{
	width: 5000px;
	height: 164px;
	left: -1000px;
	position: absolute;
	top: 0;
}
#banner_ad .ad_wf ul li{
	width: 1000px;
	height: 164px;
	float: left;
}
#banner_ad .ad_wf ul li a{
	width: 249px;
	height: 164px;
	float: left;
	margin-right: 1px;
	overflow: hidden;
}	
 #banner_ad .ad_wf .btn2{
	width: 30px;
	height: 62px;
	line-height: 62px;
	font-size: 24px;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	display: none;
	background: #000;
	opacity: 0.2;
	filter: alpha(opacity=20);
	color:#fff ;
	position: absolute;
	top:50px;
}
 #banner_ad .ad_wf:hover>.btn2{
 	display: block;
 }
#banner_ad .ad_wf .btn_l{
	/*top: 50px;*/
	left: 0px;
}
#banner_ad .ad_wf .btn_r{
	right: 0px;
}		
	/*右侧轮播广告结束*/
/*轮播广告结束*/

/*猜你喜欢开始*/
#guess{
	width: 1210px;
	height: 269px;
	/*border: 1px solid blue;*/
	margin: 0 auto;
	margin-bottom: 20px;
}
#guess .mt{
	width: 1210px;
	height: 36px;
/*	border: 1px solid red;*/
}
#guess .mt h2{
	height: 30px;
	width: 80px;
	float: left;
	font-size: 20px;
	line-height: 30px;
	display: inline;
	font-weight: 400;
	padding-right: 228px;
	font-family: "microsoft yahei";
	float: left;
	background: url(../img/homebg.png) no-repeat 85px -91px;
}
#guess .mt a{
	height: 18px;
	line-height: 18px;
	margin-top: 8px;
	padding-right: 25px;
	float: right;
	display: block;
	background: url(../img/homebg.png) no-repeat -310px -5px;
}
#guess .mt a:hover{
	color: #c81623;
}
#guess .mc {
	width: 1210px;
	height: 233px;
	border: 1px solid #ededed;
	border-top: 2px solid #ededed;
}
#guess .mc ul{
	height: 210px;
	width: 1208px;
	padding-top: 20px;
	overflow: hidden;
	position: relative;
}
#guess .mc li{
	width: 201px;
	height: 201px;
	float: left;
	padding-bottom: 15px;
	overflow: hidden;	

}
#guess .mc .fore .p_img{
	text-align: center;
	overflow: hidden;
	padding-bottom: 10px;
}
#guess .mc .fore .p_c{
	border-left: 1px solid #e6e6e6;
	padding: 0 36px;
}
#guess .mc .fore .p_c.p_c1{
	border: 0;
}
#guess .mc .fore .p_c .p_name{
	height: 36px;
	line-height: 18px;
	overflow: hidden;
	margin-bottom: 6px;
}
#guess .mc .fore .p_c .p_name a:hover{
	color: #c81623;
}
#guess .mc .fore .p_c .p_price{
	color: #b51d1a;
	font-size: 18px;
}
#guess .mc .fore .p_c .p_price span{
	font-size: 14px;
}
/*猜你喜欢结束*/

/*京东特色购开始*/
   /*左侧*/
#tese{
	height: 439px;
	width: 1210px;
	margin: 0 auto;
	margin-bottom: 20px;
	font-family: "microsoft yahei";

}
#tese h2{
	font-size: 20px;
	height: 36px;
	font-family: "microsoft yahei";
	line-height: 36px;
	font-weight: 400;
}
#tese .left{
	display: inline;
	float: left;
	overflow: hidden;
	width: 202px;
	position: relative;
}
#tese .left .buy1,#tese .left .buy2{
	display: inline;
	float: left;
	height: 200px;
	width: 201px;
	overflow: hidden;
	position: relative;
	text-align: center;
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
}
#tese .left .buy1 .tit, #tese .left .buy2 .tit,#tese .center .buy .tit{
	font-size: 16px;
	font-weight: 700;
	height: 20px;
	line-height: 18px;
	position: absolute;
	top: 20px;
	width: 100%;
	font-family: "microsoft yahei";
}
#tese .left .buy1 .sub_tit,#tese .left .buy2 .sub_tit,#tese .center .buy .sub_tit{
	height: 18px;
	width: 100%;
	position: absolute;
	top: 47px;
	color: #c81623;
	font-family: "microsoft yahei";

}
/*#tese .left .buy .tit .t_r{
	font-size: 16px;
	font-weight: 700;
	height: 16px;
	width: 28px;
	vertical-align: middle;
	background-position: 0 center;
	background:url(../img/tesegou/left.png) no-repeat;
	display: inline;
	line-height: 18px;
}*/
  /*左侧结束*/

  /*特色购中部开始*/
#tese .center{
	width: 404px;
	display: inline;
	float: left;
	overflow: hidden;
	position: relative;
}
#tese .center .buy{
	display: inline;
	float: left;
	height: 200px;
	width: 201px;
	overflow: hidden;
	position: relative;
	text-align: center;
	font-family: "microsoft yahei";
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
}
#tese .center .buy.buy2_1{
	width: 403px;
	
}
#tese .center .buy.buy2_1 div{
	position: absolute;
	left: 20px;
	top: 60px;
	text-align: center;
	width: 160px;

}
#tese .center .buy.buy2_1 .tit1{
	color: #333;
	font-size: 18px;
	font-weight: 600;
	line-height: 18px;
	height: 20px;
	padding-bottom: 10px;
	overflow: hidden;
	font-family: "microsoft yahei";
}
#tese .center .buy.buy2_1 .tit2{
	color: #333;
	font-size: 16px;
	line-height: 16px;
	height: 16px;
	padding-bottom: 10px;
	overflow: hidden;
} 
#tese .center .buy.buy2_1 .tit3{
	background: #e7004d;
	color: #fff;
	font-size: 16px;
	height: 24px;
	width: 137px;
	overflow: hidden;
	line-height: 24px;
	display: inline-block;
}
 /*特色购中部结束*/
	/*特色购物右侧开始*/
#tese .right{
	display: inline;
	float: left;
	width: 604px;
	height: 402px;
	border-top: 1px solid #ededed;
}
#tese .right .buy{
	display: inline;
	float: left;
	height: 200px;
	width: 200px;
	overflow: hidden;
	position: relative;
	text-align: center;
	font-family: "microsoft yahei";
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
}
#tese .right .buy .tit,#tese .right .xinpin .buy3_2 .tit{
	font-size: 16px;
	font-weight: 700;
	height: 20px;
	line-height: 18px;
	position: absolute;
	top: 20px;
	text-align: center;
	width: 100%;
	overflow: hidden;
}
#tese .right .buy .tit span,#tese .right .xinpin .buy3_2 .tit span{
	display: inline-block;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	width: 30px;
	height: 16px;
	line-height: 16px;
	background: #dd4957;
	vertical-align: middle;
}
#tese .right .buy .sub_tit,#tese .right .xinpin .buy3_2 .sub_tit{
	color: #c81623;
	height: 18px;
	overflow: hidden;
	position: absolute;
	top: 47px;
	width: 100%;
}
      /*新品样式*/
#tese .right .xinpin{
	height: 200px;
	width: 400px;
	position: relative;
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	display: inline;
	text-align: center;
	float: left;
}
#tese .right .xinpin .buy.buy3_1{
	border: 0 none;
}
#tese .right .xinpin .buy3_2{


}
#tese .right .xinpin .liebiao{
	width: 200px;
	height: 111px;
	margin-top: 77px;
	float: left;
	position: relative;
	text-align: center;
	display: inline;
	color: #666;
}
#tese .right .xinpin .liebiao li{
	border-bottom: 0;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	text-align: left;
	font-family: "microsoft yahei";
}
#tese .right .xinpin .liebiao li a{
	display: block;
	color: #666;
	line-height: 30px;
	text-align: left;
	font-family: "microsoft yahei";
}
#tese .right .xinpin .liebiao li span{
	color: #c81623;
}

	/*特色购物右侧结束*/
/*京东特色购结束*/



/*网页下部分开始*/
/*楼层广告样式开始*/
#floor_banner{
	width: 1210px;
	height: 140px;
	margin: 0 auto;
}
#floor_banner .main{
	height: 110px;
	margin-bottom: 30px;
	margin-left: 2px;
}
#floor_banner .main img{
	float: left;
}

/*楼层广告样式结束*/

/*楼层一服装开始*/
#floor_clothe{
	width: 1210px;
	height: 737px;
	margin: 0 auto;
	margin-bottom: 30px;
}
/*楼层标题开始*/
.mtit{
	height: 36px;
	width: 1210px;
	/*overflow: hidden;*/
	position: relative;
	border-bottom: 1px solid #c81623;
}
.mtit h2{
	position: relative;
	float: left;
	top: 2px;
	height: 36px;
	line-height: 30px;
	font-size: 20px;
	color: #333;
	font-family: "microsoft yahei";
	background: url(../img/louceng/floor.png) no-repeat 0 2px;
}
.mtit h2 span{

	color: #fff;
	font-size: 13px;
	padding-right: 20px;
	padding-left: 3px;
	font-weight: 400;
}
/*ul加边框*/
.mtit ul{
	float: right;
	display: inline;
	border-top: 1px solid #ededed;
	border-right: 1px solid #ededed;
	position: relative;
	z-index: 3;
}
/*li左浮动居中对齐*/
.mtit ul li{
	float: left;
	height: 33px;
	line-height: 33px;
	color: #ccc;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-top:2px solid #fff ;
}
/*右侧导航文字*/
.mtit ul li a{
	float: left;
	height: 14px;
	border-left: 1px solid #ccc;
	line-height: 14px;
	overflow: hidden;
	padding: 0px 16px;
	margin: 10px 0;
	color: #666;
	position: relative;
	/*left: -1px;*/
}
.mtit ul li a.dapai{
	border: none;
}
/*右侧导航文字选中边框*/
.mtit ul li.cur{
	border: 1px solid #c81623;
	border-top: 2px solid #c81623;
	border-bottom: none;
	height: 34px;
	background: #fff;
}

/*楼层标题结束*/
   /*楼层一内容部分开始*/
     /*左侧*/
.mcon .left{
	width: 330px;
	height: 633px;
	float: left;
	overflow: hidden;
	font-family: "microsoft yahei";
}
.mcon .left .left_top{
	width: 330px;
	height: 474px;
	position: relative;
	overflow: hidden;
}
.mcon .left .left_top .t{
	display: block;
	width: 330px;
	height: 474px;
	overflow: hidden;
}
.mcon .left .left_top .themes{
	position: absolute;
	top: 254px;
	left: 0;
	padding-left: 25px;
	background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
	height: 92px;
	width: 305px;
}
.mcon .left .left_top .themes li{
	float: left;
	padding: 10px 0;
	height: 30px;
	line-height: 30px;
	width: 100px;
}
.mcon .left .left_top .themes li a{
	display: block;
	background: url(../img/louceng/clothesicon.png) no-repeat 0 0;
	height: 26px;
	line-height: 26px;
}
.mcon .left .left_top .themes li span{
	padding-left: 31px;
	color: #666;
	line-height: 26px;
	font-size: 14px;
	font-family: "microsoft yahei";
}
.mcon .left .left_top .themes li span:hover{
	color: #c81623;
}
.mcon .left .left_top .themes li .nanzhuang{
	background: url(../img/louceng/clothesicon.png) no-repeat 0 0;
}
.mcon .left .left_top .themes li .nvzhuang{
	background: url(../img/louceng/clothesicon.png) no-repeat 0 -26px;
}
.mcon .left .left_top .themes li .neiyi{
	background: url(../img/louceng/clothesicon.png) no-repeat 0 -52px;
}
.mcon .left .left_top .themes li .xiexue{
	background: url(../img/louceng/clothesicon.png) no-repeat 0 -78px;
}
.mcon .left .left_top .themes li .xiangbao{
	background: url(../img/louceng/clothesicon.png) no-repeat 0 -104px;
}
.mcon .left .left_top .themes li .shechipin{
	background: url(../img/louceng/clothesicon.png) no-repeat 0 -130px;
}
.mcon .left .word{
	border-bottom: 1px solid #ededed;
	width: 330px;
	height: 128px;
	font-family: 宋体;
	background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
	position: absolute;
	top: 346px;
	left: 0;
}
.mcon .left .word li{
	display: block;
	height: 96px;
	width: 135px;
	padding-top: 16px;
	padding-left: 25px;
	float: left;
	white-space: nowrap;
}
.mcon .left .word li a{
	display: block;
	float: left;
	line-height: 24px;
	padding-right: 10px;
	color: #999;
}
.mcon .left .word li span{
	color: #c81623;
}
.mcon .left .left_b{
	width: 328px;
	height: 158px;
	overflow: hidden;
	border: 1px solid #ededed;
}
/*左侧结束*/
#floor_clothe .mcon .right{
	display: block;
	width: 880px;
	height: 633px;
	float: right;
	position: relative;
	overflow: hidden;
}
#floor_clothe .mcon .right ul.f1{
	height: 633px;
	display: block;
	float: left;
	overflow: hidden;
}
#floor_clothe .mcon .right ul.f1 li{
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid #ededed;
	border-right: 1px solid #ededed;	
}
#floor_clothe .mcon .right ul.f1 a{

	display: block;
}
/*宽版tab切换开始*/
#floor_clothe .mcon .right .r_box,.mcon_k .right .r_box{
	width: 880px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	right: 0px;
	display: none;
}
#floor_clothe .mcon .right .r_box ul.up,.mcon_k .right .r_box ul.up{
	width: 880px;
	overflow: hidden;
	float: left;
}
#floor_clothe .mcon .right .r_box ul.up li,.mcon_k .right .r_box ul.up li{
	width: 185px;
	height: 230px;
	padding: 6px 17px 0;
	float: left;
	border-bottom:1px solid #ededed ;
	border-right: 1px solid #ededed;
}
#floor_clothe .mcon .right .r_box ul.up li img,.mcon_k .right .r_box ul.up li img{
	padding-top: 15px;
	height: 140px;
	text-align: center;
	margin-bottom: 4px;
}
#floor_clothe .mcon .right .r_box ul.up li a,.mcon_k .right .r_box ul.up li a{
	display: block;
	height: 36px;
	margin-bottom: 4px;
}
#floor_clothe .mcon .right .r_box ul.up li span,.mcon_k .right .r_box ul.up li span{
	color: #e4393c;
	font-size: 15px;
	font-family: Verdana;
}
#floor_clothe .mcon .right .r_box ul.down,.mcon_k .right .r_box ul.down{
	float: left;
	height: 159px;
	width: 880px;
	overflow: hidden;
}
#floor_clothe .mcon .right .r_box ul.down li,.mcon_k .right .r_box ul.down li{
	width: 219px;
	height: 158px;
	float: left;
	border-bottom:1px solid #ededed ;
	border-right: 1px solid #ededed;	
}
/*宽版tab切换结束*/
/*底部名牌logo开始*/
/*底部名牌logo结束*/
.minglogo img{
	margin-top: 10px;
	height: 66px;
	width: 1210px;

}
/*楼层一内容部分结束*/
/*楼层一服装结束*/

/*楼层二美妆开始*/
#floor_mei{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px;
}
/*左侧开始*/
.mcon_z .left{
	width: 210px;
	height: 474px;
	overflow: hidden;
	float: left;
	font-family: "microsoft yahei";
	position: relative;
}
.mcon_z .left .theme{
	position: absolute;
	top: 236px;
	left: 0;
	padding-left: 10px;
	background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
	height: 92px;
	
}
.mcon_z .left .theme li{
	float: left;
	padding: 10px 0;
	height: 26px;
	line-height: 26px;
	width: 98px;
}
.mcon_z .left .theme li a{
	display: block;
	background: url(../img/louceng/cosmeticsicon.png) no-repeat 0 0;
	height: 26px;
	line-height: 26px;
}
.mcon_z .left .theme li span{
	padding-left: 31px;
	color: #666;
	line-height: 26px;
	font-size: 14px;
	font-family: "microsoft yahei";
	padding-right: 5px;
}
.mcon_z .left .theme li span:hover{
	color: #c81623;
}
.mcon_z .left .theme li .mei_mei{
	background: url(../img/louceng/cosmeticsicon.png) no-repeat 0 0;
}
.mcon_z .left .theme li .mei_quan{
	background: url(../img/louceng/cosmeticsicon.png) no-repeat 0 -26px;
}
.mcon_z .left .theme li .mei_shang{
	background: url(../img/louceng/cosmeticsicon.png) no-repeat 0 -52px;
}
.mcon_z .left .theme li .mei_shi{
	background: url(../img/louceng/cosmeticsicon.png) no-repeat 0 -78px;
}

.mcon_z .left .assists{
	display: block;
	background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
	height: 48px;
	width: 210px;
	line-height: 24px;
	
	overflow: hidden;
	padding: 21px 0 0;
	position: absolute;
	top: 328px;
	left: 0;
}
.mcon_z .left .assists a{
	float: left;
	overflow: hidden;
	padding-left: 25px;
	width: 180px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	font-family: "microsoft yahei";
}
.mcon_z .left .assists a:hover{
	color: #c81623;
}
.mcon_z .left .word{
	position: absolute;
	top: 397px;
	left: 0;
	background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
	height: 76px;
	width: 210px;
}
.mcon_z .left .word li{
	display: block;
	float: left;
	height: 48px;
	overflow: hidden;
	padding: 7px 0 0 25px;
	width: 165px;
	white-space: nowrap;
}
.mcon_z .left .word a{
	margin-right: 10px;
	float: left;
	line-height: 24px;
}
.mcon_z .left .word a span{
	color: #c81623;
}
.mcon_z .left .word a:hover{
	color: #c81623;
}
/*左侧结束*/
/*右侧开始*/
.mcon_z .right{
	display: block;
	width: 1000px;
	height: 475px;
	float: right;
	overflow: hidden;
}
.mcon_z .right ul.f2{
	height: 475px;
	display: block;
	float: left;
	overflow: hidden;
}
.mcon_z .right ul.f2 li{
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid #ededed;
	border-right: 1px solid #ededed;
}
.mcon_z .right ul.f2 a{

	display: block;
}
.mcon_z .right .z_box{
	width: 1000px;
	overflow: hidden;
}
.mcon_z .right .z_box ul.z{
	width: 1000px;
	height: 475px;
}
.mcon_z .right .z_box .z li{
	padding: 6px 17px 0;
	width: 165px;
	height: 230px;
	float: left;
	border-bottom: 1px solid #ededed;
	border-right: 1px solid #ededed;
}
.mcon_z .right .z_box .z li a.pic{
	display: block;
	height: 140px;
	width: 165px;
	margin-bottom: 4px;
	padding-top: 15px;
	text-align: center;
}
.mcon_z .right .z_box .z li a.titt{
	display: block;
	height: 36px;
	line-height: 18px;
	overflow: hidden;
	margin-bottom: 3px;
}
.mcon_z .right .z_box .z li span{
	color: #e4393c;
	font-size: 15px;
	font-family: verdana;
}
/*右侧结束*/

/*楼层二美妆结束*/

/*楼层三手机开始*/
#floor_phone{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px;
}
/*左侧开始楼层三  宽*/
.mcon_k .left{
	width: 330px;
	height: 474px;
	overflow: hidden;
	float: left;
	font-family: "microsoft yahei";
	position: relative;
}
.mcon_k .left .theme{
	position: absolute;
	top: 236px;
	left: 0;
	padding-left: 25px;
	background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
	height: 46px;
	width: 305px;
}
.mcon_k .left .theme li{
	float: left;
	padding: 10px 0;
	height: 26px;
	line-height: 26px;
	width: 98px;
}
.mcon_k .left .theme li a{
	display: block;
	background: url(../img/louceng/mobilesicon.png) no-repeat 0 0;
	height: 26px;
	line-height: 26px;
}
.mcon_k .left .theme li span{
	padding-left: 31px;
	color: #666;
	line-height: 26px;
	font-size: 14px;
	font-family: "microsoft yahei";
	padding-right: 5px;
}
.mcon_k .left .theme li span:hover{
	color: #c81623;
}
.mcon_k .left .theme li .ph_shou{
	background: url(../img/louceng/mobilesicon.png) no-repeat 0 0;
}
.mcon_k .left .theme li .ph_ting{
	background: url(../img/louceng/mobilesicon.png) no-repeat 0 -26px;
}
.mcon_k .left .theme li .ph_pei{
	background: url(../img/louceng/mobilesicon.png) no-repeat 0 -52px;
}


.mcon_k .left .assists{
	display: block;
	background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
	height: 48px;
	width: 330px;
	line-height: 24px;
	overflow: hidden;
	padding: 21px 0 0;
	position: absolute;
	top: 282px;
	left: 0;
}
.mcon_k .left .assists li{
	float: left;
	overflow: hidden;
	padding-left: 25px;
	width: 135px;
	height: 24px;
	line-height: 24px; 
}
.mcon_k .left .assists a{
	font-size: 14px;
	font-family: "microsoft yahei";
	height: 24px;
	line-height: 24px; 
}
.mcon_k .left .assists a:hover{
	color: #c81623;
}
.mcon_k .left .word{
	position: absolute;
	top: 351px;
	left: 0;
	background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
	height: 123px;
	width: 330px;
}
.mcon_k .left .word li{
	display: block;
	float: left;

	overflow: hidden;
	padding: 7px 0 0 25px;
	width: 135px;
	white-space: nowrap;
}
.mcon_k .left .word a{
	margin-right: 10px;
	float: left;
	line-height: 24px;
}
.mcon_k .left .word a span{
	color: #c81623;
}
.mcon_k .left .word a:hover{
	color: #c81623;
}
/*右侧开始*/
.mcon_k .right{
	display: block;
	width: 880px;
	height: 475px;
	float: right;
	overflow: hidden;
	position: relative;
}
.mcon_k .right .fore1{
	height: 475px;
	width: 440px;
	display: block;
	float: left;
	overflow: hidden;
	list-style: outside;
}
.mcon_k .right .fore1 .box_ban{
	width: 440px;
	height: 236px;
	overflow: hidden;
	position: relative;
}
.mcon_k .right .fore2{
	float: left;
	width: 220px;
	height: 475px;

}
.mcon_k .right ul li{
	overflow: hidden;
	display: block;
	float: left;
	border-bottom: 1px solid #ededed;
	border-right: 1px solid #ededed;
}
.mcon_k .right ul a{
	display: block;
}
/*.mcon_k .right .box{
	border-bottom: 1px solid #ededed;
	border-right: 1px solid #ededed;
	height: 236px;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	width: 439px;
}*/
/*左侧楼层三  宽结束*/
/*楼层三手机结束*/


/*楼层四家用电器开始*/
#floor_elect{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px;
}
#floor_elect .mcon_k .left .theme li{

	width: 150px;
}
.mcon_k .left .theme li .elect_cheng{
	background: url(../img/louceng/electronicsicon.png) no-repeat 0 0;
}
.mcon_k .left .theme li .elect_fuwu{
	background: url(../img/louceng/electronicsicon.png) no-repeat 0 -26px;
}
/*楼层四家用电器结束*/

/*楼层五电脑数码开始*/
#floor_computer{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px;
}
#floor_computer .mcon_k .left .theme li{

	width: 150px;
}
.mcon_k .left .theme li .com_xinpin{
	background: url(../img/louceng/digitalsicon.png) no-repeat 0 0;
}
.mcon_k .left .theme li .com_dapai{
	background: url(../img/louceng/digitalsicon.png) no-repeat 0 -26px;
}


/*楼层五电脑数码结束*/

/*楼层六运动开始*/
#floor_sport{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.mcon_z .left .theme li .mei_mei{
	background: url(../img/louceng/sportsicon.png) no-repeat 0 0;
}
.mcon_z .left .theme li .mei_quan{
	background: url(../img/louceng/sportsicon.png) no-repeat 0 -26px;
}
.mcon_z .left .theme li .mei_shang{
	background: url(../img/louceng/sportsicon.png) no-repeat 0 -52px;
}
.mcon_z .left .theme li .mei_shi{
	background: url(../img/louceng/sportsicon.png) no-repeat 0 -78px;
}
/*楼层六运动结束*/

/*楼层七居家生活开始*/
#floor_living{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.mcon_z .left .theme li .mei_mei{
	background: url(../img/louceng/livingsicon.png) no-repeat 0 0;
}
.mcon_z .left .theme li .mei_quan{
	background: url(../img/louceng/livingsicon.png) no-repeat 0 -26px;
}
.mcon_z .left .theme li .mei_shang{
	background: url(../img/louceng/livingsicon.png) no-repeat 0 -52px;
}
.mcon_z .left .theme li .mei_shi{
	background: url(../img/louceng/livingsicon.png) no-repeat 0 -78px;
}



/*楼层七居家生活结束*/


/*楼层八母婴玩具开始*/
#floor_babys{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.mcon_z .left .theme li .mei_mei{
	background: url(../img/louceng/babysicon.png) no-repeat 0 0;
}
.mcon_z .left .theme li .mei_quan{
	background: url(../img/louceng/babysicon.png) no-repeat 0 -26px;
}
.mcon_z .left .theme li .mei_shang{
	background: url(../img/louceng/babysicon.png) no-repeat 0 -52px;
}
.mcon_z .left .theme li .mei_shi{
	background: url(../img/louceng/babysicon.png) no-repeat 0 -78px;
}



/*楼层八母婴玩具结束*/


/*楼层九食品健康开始*/
#floor_foods{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.mcon_z .left .theme li .mei_mei{
	background: url(../img/louceng/foodsicon.png) no-repeat 0 0;
}
.mcon_z .left .theme li .mei_quan{
	background: url(../img/louceng/foodsicon.png) no-repeat 0 -26px;
}
.mcon_z .left .theme li .mei_shang{
	background: url(../img/louceng/foodsicon.png) no-repeat 0 -52px;
}
.mcon_z .left .theme li .mei_shi{
	background: url(../img/louceng/foodsicon.png) no-repeat 0 -78px;
}

/*楼层九食品健康结束*/






/*楼层十图书音像开始*/
#floor_books{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px;
}
#floor_books .m_right{
	width: 662px;
	height: 475px;
	float: left;
	overflow: hidden;
	position: relative;
}
#floor_books .m_right .box{
	width: 662px;
	height: 237px;
	float: left;
	overflow: hidden;
}
#floor_books .m_right .box li{
	float: left;
	display: block;
}
#floor_books .author{
	height: 473px;
	width: 336px;
	float: left;
	border-bottom: 1px solid #ededed;
	border-right: 1px solid #ededed;
	overflow: hidden;
}
#floor_books .author .au_mt{
	width: 336px;
	height: 34px;
	padding-top: 13px;
}
#floor_books .author .au_mt h3{
	padding: 0 0 10px 5px;
	font-size: 20px;
	margin: 0 15px 0 10px;
	border-bottom: 1px solid #e4e4e4;
	line-height: 23px;
	font-family: "microsoft yahei";
	color: #666;
	font-weight: 400;
}
#floor_books .author .au_mc{
	height: 426px;
	padding-left: 15px;
}
#floor_books .author .au_mc li{
	height: 80px;
	margin-top: 20px;
	overflow: hidden;
}
#floor_books .author .au_mc .touxiang{
	float: left;
	padding: 2px 15px 0 4px;
	text-align: center;
	width: 48px;
}
#floor_books .author .au_mc .touxiang img{
	border-radius: 50%;
	height: 48px;
	width: 48px;
	vertical-align: top;
	margin-bottom: 6px;
}
#floor_books .author .au_mc img{
	border-left: 1px dotted #dbdbdb;
	float: left;
	height: 80px;
	padding-left: 5px;
	width: 80px;
}
#floor_books .author .au_mc .b_con{
	float: left;
	padding-left: 10px;
	overflow: hidden;
	width: 150px;
	height: 80px;
}
#floor_books .author .au_mc .b_con .b_name a{
	display: block;
	font-family: "microsoft yahei";
	font-size: 14px;
	height: 19px;
	line-height: 19px;
	width: 150px;
	margin-bottom: 5px;
	overflow: hidden;
}
#floor_books .author .au_mc .b_con .b_tittle{
	background: #f8f8f8 none repeat scroll 0 0;
	color: #999;
	height: 34px;
	line-height: 34px;
	padding: 10px 15px 10px 10px;
	position: relative;
	width: 115px;
	overflow: hidden;
}
#floor_books .author .au_mc .b_con .b_tittle p{
	height: 38px;
	line-height: 19px;
	overflow: hidden;
	word-break:break-all;
	color: #999;
}
#floor_books .author .au_mc .b_con .b_tittle span .icon-r{
	color: #aaa;
	font-family: Arial;
	line-height: 38px;


}


/*楼层十图书音像结束*/

/*十一层生活服务开始*/
#floor_life{
	width: 1210px;
	height: 578px;
	margin: 0 auto;
	margin-bottom: 30px;

}
#floor_life .right{
	width: 395px;
	height: 475px;
	float: left;
	position: relative;
	overflow: hidden;
}
#floor_life .right .box.box_ban{
	width: 395px;
	height: 237px;
	float: left;
	position: relative;
	overflow: hidden;
}
#floor_life .right .box li{
	float: left;
	display: block;
		border-bottom: 1px solid #ededed;
	border-right: 1px solid #ededed;
}
#floor_life .mcon_z .left .theme li{
	float: left;
	padding: 10px 0 10px 15px;
	height: 26px;
	line-height: 26px;
	width: 170px;
}

/*十一层生活服务结束*/





/*网页下不部分结束*/















/*网页底部开始*/
#footer{
	width: 100%;
	height: 276px;
/*	border: 1px solid blue;*/
}
#footer .footer_img{
	width: 100%;
	height: 54px;
	padding: 20px 0;
	margin-bottom: 14px;
	background: #f5f5f5;
}
#footer .footer_img .slogen{
	width: 1210px;
	height: 54px;
	margin: 0 auto;
	background: url(../img/jingdong_footer.jpg)  no-repeat;
}
#footer .content{
	width: 1210px;
	margin: 0 auto;
}
#footer .content .fore{
	width: 199px;
	float: left;
}
#footer .content .fore.teshe{
	width: 100px;
}
#footer .content .fore dt{
	font:400 16px/24px "microsoft yahei";
	padding: 6px 0;
}
#footer .content .fore dd{
	line-height: 20px;
}
#footer .content .fore dd a:hover,#footer .content .coverage a:hover{
	color: #c81623;
}
#footer .content .coverage{
	height: 168px;
	width: 310px;
	float: right;
	background: url(../img/ziying.png) no-repeat 60px -131px;
}
#footer .content .coverage .tittle{
	font:400 16px/24px "microsoft yahei";
	padding: 6px 40px 15px 80px;
}
#footer .content .coverage .con{
	padding: 0 40px 15px 80px;
}
#footer .content .coverage .con .more{
	display: block;
	line-height: 18px;
	text-align: right;
}
/*网页底部结束*/
/*备案信息开始*/
#beian{
	width: 1210px;
	margin: 0 auto;
	padding: 20px 0 30px 0;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	line-height: 18px;
}
#beian .links{
	height: 18px;
}
#beian .links a{
	margin: 0 10px;
}
#beian .copyright{
	margin: 10px 0;
}
/*备案信息结束*/

/*楼层轮播开始*/
/*楼层一开始*/
.clothe .slider{
	width: 2634px;
	/*height: 315px;*/
	position: absolute;
	left: 0px;
	top: 0;
}
.clothe .slider .slider_item{
	display: block;
	float: left;
}
.clothe .box_one.box_ban{
	width: 439px;
	height: 315px;
	position: relative;
}
.cir{
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -30px;
}
.cir li{
	border-radius: 50%;
	margin-right: 4px;
	height: 10px;
	width: 10px;
	background: #3e3e3e;
	text-align: center;
	border: none;
	float: left;
}
/*楼层一结束*/

/*楼层二 六七八九开始*/

/*楼层二 六七八九结束*/
.z_box .box_lb{
	width: 340px;
	height: 473px;
	position: relative;
	overflow: hidden;
}
.z_box .box_lb .slider_db{
	width: 2034px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.z_box .box_lb .slider_db .s_db_item{
	float: left;
	display: block;

}
.z_box .box_lb .slider_db .s_db_item a{
	border-bottom: 1px solid #ededed;
	border-right: 1px solid #ededed;	
}
/*楼层三四五层开始*/
.mcon_k .right .slider{
	width: 2634px;
	/*height: 315px;*/
	position: absolute;
	left: 0;
	top: 0;	
}
.right .slider .slider_item{
	float: left;
	display: block;
}
/*楼层三四五结束*/

/*楼层十  十一层开始*/
.mcon_z .right .box_ban_z.box_ban{
	width: 440px;
	height: 236px;
	overflow: hidden;
	position: relative;
}
.mcon_z .right .slider{
	width: 2370px;
	position: absolute;
	left: 0;
	top: 0;
}
/*楼层十  十一结束*/

/*楼层轮播结束*/
/*侧边左侧楼层导航开始*/
#floor_nav{
	height: 614px;
	widows: 35px;
	overflow: visible;
	position: fixed;
	left: 50%;
	top: 200px;
	margin-left: -640px;
	display: none;
}
#floor_nav a{
	display: block;
	height: 25px;
	width: 35px;
	padding: 5px 0;
	text-align: center;
	position: relative;
	
}
#floor_nav a i{
	display: block;
	font-size: 16px;
	line-height: 25px;
	color: #666;
	height: 35px;
	width: 35px;
	background: #fff;
	/*position: absolute;
	top: 0px;
	left: 0px;*/
	/*z-index: 3;*/
	/*text-align: center;*/
}
#floor_nav a .word{
	/*line-height: 12px;*/
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 22;
	height: 35px;
	line-height: 35px;
	padding: 0;
	vertical-align: middle;
	width: 35px;
	display: none;
}
#floor_nav a span.word.h{
	display: block;
	color: #C40000;
	background: none;
}
/*.h{
	display: block;
	background: #C40000;
	color: #fff;
}*/
#floor_nav a.single span.word{
	height: 35px;
	line-height: 35px;
	padding: 0;
}
#floor_nav a span.line{
	border-top: 1px solid #e5e5e5;
	width: 10px;
	line-height: 0;
	height: 0;
	display: block;
	position: absolute;
	left: 12px;
	bottom: 1px;
}
#floor_nav a:hover > span.word{
	display: block;
	color: #fff;
	background: #C40000;
}
/*侧边左侧楼层导航结束*/

/*侧边右侧导航开始*/
#right_bar_nav{
	height: 100%;
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 99;
}
#right_bar_nav .bar{
	width: 0px;
	height: 100%;
	border-right: 6px solid #7a6e6e;
	position: absolute;
	top: 0px;
	right: 0px;
}
#right_bar_nav .top{
	position: absolute;
	top: 50%;
	margin-top: -61px;
	width: 35px;
	right: 0px;
	/*height: 61px;*/
}
#right_bar_nav .down{
	bottom: 0px;
	position: absolute;
	right: 0px;
	width: 35px;
}
#right_bar_nav ul li{
	height: 35px;
	width: 35px;
	float: left;
	margin-bottom: 1px;
	border-radius: 3px 0 0 3px;
	background: #7a6e6e;
	position: relative;
	cursor: pointer;
}
#right_bar_nav ul li a{
	display: block;
	width: 35px;
	height: 35px;
	background:#7a6e6e url(../img/jd-icons.png) no-repeat ;
	position: relative;
	z-index: 5;
}
#right_bar_nav ul li a.car{
	background-position: -50px 0px;
}
#right_bar_nav ul li a.care{
	background-position: -50px -50px;
}
#right_bar_nav ul li a.his{
	background-position: -50px -100px;
}
#right_bar_nav ul li a.jimi{
	background-position: -50px -150px;
}
#right_bar_nav ul li a.t{
	background-position: -50px -250px;
}
#right_bar_nav ul li a.text{
	background-position: -50px -300px;
}
#right_bar_nav ul li .left_tab{
	position: absolute;
	left: 0px;
	top: 0px;
	color: #fff;
	/*display: none;*/
	border-radius:3px 0 0 3px ;
	background: #7A6E6E;
	font-family: "微软雅黑";
	height: 35px;
	line-height: 35px;
	text-align: center;
	width: 62px;
	z-index: 4;
}
#right_bar_nav .down ul li .left_tab{
	width: 35px;
}
#right_bar_nav ul li:hover>a{
	background-color: #C81623;
}
#right_bar_nav ul li:hover>.left_tab{
	background: #C81623;
}
/*侧边右侧导航结束*/


















