.b-left-div {
	width: 650px;
	height: 490px;
	border: 2px solid #f60000;
	position: absolute;
	top: 0px;
	left: 190px;
	overflow: hidden;
	z-index: 10;
	background: #fff;
}
.b-left-div .left-div-c {
	width: 591px;
	height: 451px;
	margin-top: 18px;
	margin-left: 27px;
}
.b-left-div .div-c-1 {
	width: 216px;
	height: 143px;
	margin-top: 5px;
	position: relative;
	float: left;
}
.b-left-div .div-c-1 .a {
	margin-left: 5px;
	display: inline-block;
	color: #626262;
	font-size: 14px;
	padding-bottom: 5px;
	text-decoration: none;
	font-weight: 700;
	width: 180px;
}
.b-left-div .div-c-1 .a1 {
	text-decoration: none;
	color: #626262;
	position: absolute;
	top: 0;
	right: 10px;
}
.b-left-div .div-c-1  hr {
	position: absolute;
	top: 30px;
	left: 0;
	width: 216px;
	color: #DDDDDD;
}
.b-left-div .div-c-1 a {
	text-decoration: none;
	color: #6b6b6b;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	margin-right: 3px;
}
.b-left-div .div-c-1 a:hover {
	color: #6b6b6b; 
}
.b-left-div .c2 {
	margin-left: 20px;
}
.b-left-div .div-c-r1 {
	width: 100px;
	height: 120px;
	position: absolute;
	top: 20px;
	right: 30px;
}
.b-left-div .div-c-r2 {
	width: 100px;
	height: 120px;
	position: absolute;
	top: 181px;
	right: 30px;
}
.b-left-div .div-c-r3 {
	width: 100px;
	height: 120px;
	position: absolute;
	top: 342px;
	right: 30px;
}